.woocommerce-breadcrumb {
  display: none;
}

select {
  @extend .body;
  @extend .body--small;

  background-color: #ffffff;
  border: solid 1px #d8dce0;
  border-radius: 2px;
  color: $color-primary-dark-blue;
  padding: 10px 40px 10px 10px;

  option {
    @extend .body;
    @extend .body--small;

    color: $color-primary-dark-blue;
  }
}

.woocommerce .woocommerce-result-count {
  @extend .body;
  @extend .body--large;

  font-size: 18px;
  font-weight: 500;
  margin: 1em 0;
}

.woocommerce-products {
  @extend %margins-horizontal;

  margin-bottom: 38px;
  margin-top: 64px;

  @include mq($from: medium) {
    margin-bottom: 188px;
    margin-top: 55px;
  }

  li.woocommerce-widget-layered-nav {
    align-items: center;
    display: flex;
    height: 42px;
    list-style: none;
    position: relative;

    .widgettitle {
      align-items: center;
      display: flex;
      font-size: 14px;
      font-weight: 500;
      left: 0;
      padding-left: 10px;
      position: absolute;
      z-index: 1;

      &::after {
        content: ":";
      }
    }

    form.woocommerce-widget-layered-nav-dropdown {
      height: 42px;

      .select2.select2-container {
        display: none;
      }
    }

    .select2-selection.select2-selection--single {
      border-color: $color-gray-3;
      border-radius: 0px;
      color: $color-primary-dark-blue;
      font-size: 14px;
      font-weight: 900;
      height: 42px;
      // margin-right: -5px;
      padding-left: 60px;
      padding-right: 20px;
    }

    .select2-selection__placeholder {
      color: $color-primary-dark-blue;
    }

    .select2-selection__clear {
      display: none;
    }

    .select2-selection__rendered {
      align-items: center;
      display: flex;
      height: 40px;
    }

    .select2-selection__arrow {
      height: 42px;
      right: 10px;
    }

    .select2-selection__arrow b {
      background-color: transparent;
      border-bottom: 1px solid $color-primary-dark-blue;
      border-left: 1px solid $color-primary-dark-blue;
      border-width: 0px 0px 2px 2px;
      content: "";
      display: block;
      height: 10px;
      transform: translateY(-50%) rotate(-45deg);
      width: 10px;
    }

    .select2-container--open
      .select2-selection--single
      .select2-selection__arrow
      b {
      background-color: transparent;
      border-bottom: 1px solid $color-primary-dark-blue;
      border-left: 1px solid $color-primary-dark-blue;
      border-width: 0px 0px 2px 2px;
      content: "";
      display: block;
      height: 10px;
      top: 20px;
      transform: rotate(135deg);
      width: 10px;
    }
  }

  .woocommerce-ordering,
  .woocommerce-ordering select {
    width: 100%;

    @include mq($from: medium) {
      width: auto;
    }
  }

  .woocommerce-ordering {
    position: relative;

    &::before {
      background-color: transparent;
      border-bottom: 1px solid $color-primary-dark-blue;
      border-left: 1px solid $color-primary-dark-blue;
      border-width: 0px 0px 2px 2px;
      content: "";
      display: block;
      height: 10px;
      position: absolute;
      right: 12px;
      top: 24px;
      transform: translateY(-100%) rotate(-45deg);
      width: 10px;
    }
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.select2-dropdown.select2-dropdown--below {
  border-color: $color-gray-3;
}

.woocommerce-page ul.products {
  @include mq($from: medium) {
    margin-left: -2.5%;
    margin-right: -2.5%;
  }
}

.woocommerce-page ul.products li.product {
  @include mq($from: medium) {
    float: unset;
    margin: 0 2% 2.992em 2%;
    text-align: center;
  }

  a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
    .wp-post-image--container {
      background: white;
      height: 0;
      overflow: hidden;
      padding-top: 68.5%;
      position: relative;

      img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  .pre_order_loop,
  .pre_order_loop-no-auto-format {
    font-size: 16px;
    font-style: normal;
  }
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1em;
  margin-top: 1em;
}

.woocommerce ul.products.columns-3 {
  li.product {
    width: 29%;
  }
}

.woocommerce ul.products.columns-3 {
  @include mq($until: medium) {
    li.product {
      margin-right: 0;
      width: 100%;
    }

    a {
      float: none;
      margin-right: 0;
      width: 100%;
    }
  }
}

.summary__details .woocommerce-price-suffix {
  margin-left: 0.5rem;
}

.summary__details .woocommerce-variation-price .woocommerce-price-suffix,
.details .woocommerce-price-suffix {
  margin-left: 0;
}

.woocommerce ul.products li.product .price {
  @extend .body;

  color: #0a67aa;
  font-size: 20px;
  margin-bottom: 0.5em;

  .from {
    @extend .body;

    color: #0a67aa;
    font-size: 20px;
    text-transform: capitalize;
  }

  ins {
    font-weight: 400;
    text-decoration: none;
  }
}

.woocommerce ul.products li.product .button {
  &.product_type_simple,
  &.add_to_cart_button,
  &.product_type_variable {
    @extend .button;
    @extend .button--primary;
  }

  &.added {
    background-color: #c24654;
  }

  &.added::after,
  &.loading::after {
    content: unset;
  }

  &.loading {
    background-color: #c24654;
    opacity: 0.5;
  }
}

.section-navbar--secondary {
  background-color: $color-gray-2;
}

.menu-navbar--secondary ul {
  align-items: center;
  display: flex;
  overflow-x: scroll;
  padding-left: 20px;
  white-space: nowrap;

  @include mq($from: medium) {
    justify-content: center;
    overflow-x: initial;
    padding-left: initial;
    white-space: initial;
  }

  .menu-item {
    padding: 36px 20px;

    &:hover a,
    &:focus a {
      border-bottom: 1px solid $color-primary-dark-blue;
    }
  }

  a {
    color: #2c3e50;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.09px;
  }
}

#menu-product-feed-navigation {
  li.current-menu-item {
    a {
      font-weight: 900;
    }
  }
}

.archive {
  .section-product-feed-text-and-image__text {
    p {
      font-size: 18px;
      letter-spacing: 0.08px;
      line-height: 26px;
    }
  }
}

.rendered-dropdown-container--open {
  z-index: 2;
}

.fieldkit-sidebar-filter {
  display: flex;
  flex-wrap: wrap;

  li.widget {
    @include mq($until: medium) {
      margin-bottom: 38px;
      width: 100%;
    }
  }
}

.fieldkit-sidebar-filter li:not(:first-child) {
  margin-top: 10px;

  @include mq($from: medium) {
    margin-left: 30px;
    margin-top: 0px;
  }
}

.archive .section-callout {
  margin-bottom: 0px !important;
}

.archive .margins-horizontal .section-callout {
  margin-bottom: 0px !important;

  @include mq($from: medium) {
    margin-bottom: 60px !important;
  }
}

.archive .section-callout .button--primary {
  color: #2c3e50;
}

.archive .margins-horizontal {
  @include mq($until: medium) {
    padding-left: 0;
    padding-right: 0;
  }
}
