.product-type-composite .composite_form .composite_pagination {
  ul.pagination_elements li.pagination_element {
    background-color: #f4f5f7;
    color: $color-primary-dark-blue;

    span,
    a {
      color: inherit;
    }
  }

  ul.pagination_elements li.pagination_element.pagination_element_current {
    background-color: $color-primary-dark-blue;
    color: $color-background;

    span,
    a {
      color: inherit;
    }

    &::after {
      border-left-color: $color-primary-dark-blue;
    }

    &::before {
      border-bottom-color: $color-primary-dark-blue;
      border-top-color: $color-primary-dark-blue;
    }
  }
}

.woocommerce div.product form.cart.composite_form {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 1.618em;
}

.product-type-composite .composite_form ul.summary_elements {
  display: flex;
  flex-direction: column;

  li.summary_element {
    text-align: left;
  }
}

.product-type-composite
  .full_width
  .columns-4
  .summary_elements
  li.summary_element {
  width: 100% !important;
}

.product-type-composite
  .full_width
  .columns-3
  ul.component_option_thumbnails_container {
  display: flex;
  flex-direction: column;

  li.component_option_thumbnail_container {
    width: 100% !important;
  }
}

.product-type-composite .component_options_inner {
  .thumbnail_price {
    margin-top: 0.8em;
  }

  .woocommerce-Price-amount.amount {
    @extend .body;
  }
}

.product-type-composite .details.component_data {
  .bundled_product_title.product_title {
    @extend .heading-5;
  }

  p,
  li {
    @extend .body--small;
  }

  .woocommerce-Price-amount.amount {
    @extend .body;
  }
}

.type-product table.variations {
  tr td {
    display: block;
  }

  a.reset_variations {
    align-items: center;
    display: flex;
    margin-top: 7px;
  }

  a::before {
    content: url("assets/icons/reset.svg");
    line-height: 0;
    margin-right: 6px;
  }
}

.bundled_product_summary .bundled_product_optional_checkbox,
.bundled_product_summary span.bundled_item_price_quantity {
  @extend .body;
  @extend .body--small;
}

.woocommerce div.product div.images .flex-control-thumbs li {
  margin-right: 1em;
  width: 14%;
}

.product-type-composite .summary_element_image.summary_element_data {
  float: left;
  width: 20%;
}

.component_options_inner .component_option_thumbnail .image {
  float: left !important;
  padding: 0 !important;
  width: 40% !important;

  @include mq($from: medium) {
    width: 20% !important;
  }
}

.component_options_inner .component_option_thumbnail_container {
  .thumbnail_description {
    float: right !important;
    padding: 1em 1em 0.5em !important;
    text-align: left !important;
    width: 60% !important;

    @include mq($from: medium) {
      width: 80% !important;
    }
  }
}

.component_option_thumbnail .component_option_thumbnail_select {
  margin-left: 1em !important;
}

.component_selections p.component_section_title {
  margin-top: 1em;
}

.summary_elements .summary_element_selection.summary_element_data,
.summary_elements .summary_element_price.summary_element_data,
.summary_elements .summary_element_button.summary_element_data {
  float: right;
  padding-left: 1em;
  width: 80%;
}

.summary_elements
  .summary_element_selection.summary_element_data
  .content_product_title {
  @extend .heading-6;
}

.summary__details
  .summary_elements
  .summary_element_price.summary_element_data
  .woocommerce-Price-amount {
  @extend .body;
  @extend .body--small;
}

.summary__details
  .summary_elements
  .summary_element_content
  .content_product_meta {
  @extend .body;
  @extend .body--small;
}

.summary_elements .summary_element_button.summary_element_data {
  display: none;
}

.component_option_thumbnail.selected .component_option_thumbnail_select {
  background-color: #ffffff !important;
  border: solid 1px #ce596b !important;
  border-radius: 3px !important;
  max-width: 89px !important;
  min-width: 89px !important;
  opacity: 1 !important;

  &::after {
    color: #ce596b !important;
  }
}

li.component_option_thumbnail_container {
  border-bottom: solid 1px #d8dce0;
  padding-bottom: 1.5em !important;
}

.composite_form.small_width .composite_navigation.top,
.composite_form .composite_navigation.movable.paged.standard {
  display: none !important;
}

.composite_form .composite_navigation.paged .prev,
.composite_form .composite_navigation.paged .next {
  @extend .heading-5;

  font-size: 20px;
  font-weight: 500;
}

.component_selections .component_message.top,
.bundled_product_permalink,
.clear_component_options,
.product-type-composite .bundle_button,
.product-type-composite .single_variation_wrap.component_wrap .quantity,
.component_option_each {
  display: none !important;
}

.component .component_description {
  margin-bottom: 1em !important;
}

.component_option_thumbnail .component_option_thumbnail_select {
  min-width: 89px !important;
}

.component_message {
  .woocommerce-info {
    border: none;
    padding: 1em;
    text-align: center;

    &::before {
      display: none;
    }
  }
}

.bundled_product_summary .bundled_item_button .quantity {
  margin-top: 0.7em !important;
}

.attribute_options .label {
  line-height: unset !important;

  label {
    @extend .body;

    color: #6a6d71 !important;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 1.17;
  }
}

.attribute_options .value {
  select {
    border: unset !important;
    border-bottom: solid 1px #d8dce0 !important;
    border-radius: 0;
    padding: 10px 40px 2px 0 !important;
  }
}

.product-type-composite .composite_navigation.paged.bottom {
  border-top: 1px solid rgba($color-gray-3, 0.5);
  margin-top: 32px;

  .composite_navigation_inner {
    padding: 0;
    padding-top: 1.5em;
  }
}
