.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
  background-color: $color-gray-2;
  display: flex;
  flex-direction: column;
}

.woocommerce-order .heading-3 {
  text-align: center;
}

.woocommerce-order .woocommerce-notice {
  text-align: center;
}

.woocommerce ul.order_details {
  margin: 3em 0;
}

.woocommerce .woocommerce-order-details__title {
  @extend .heading-4;

  font-weight: 500;
}

.woocommerce ul.order_details li {
  @extend .body;
  @extend .body--small;

  border: none;
  border-bottom: 1px solid #d8dce0;
  float: unset;
  padding: 0.8em;
  text-transform: none;

  strong {
    @extend .body;
    @extend .body--small;

    color: #2c3e50;
    font-weight: 500;
    line-height: 1.31;
  }

  &::before {
    content: unset;
  }
}
