.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
  background-color: $color-gray-2;
  display: flex;
  flex-direction: column;
  padding: 25px 40px 43px;
}

.woocommerce-order .heading-3 {
  text-align: center;
}

.woocommerce-order .woocommerce-notice {
  letter-spacing: 0.44px;
  text-align: center;
}

.woocommerce ul.order_details {
  margin: 3em 0;
}

.woocommerce .woocommerce-order-details__title {
  @extend .heading-4;

  font-weight: 500;
}

.woocommerce ul.order_details li {
  @extend .body;
  @extend .body--small;

  border: none;
  border-bottom: 1px solid $color-gray-3;
  float: unset;
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
  text-transform: none;

  &:last-of-type {
    border-bottom: 1px solid $color-gray-3;
  }

  strong {
    @extend .body;
    @extend .body--small;

    color: #2c3e50;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  &::before {
    content: unset;
  }
}

.woocommerce-order-received {
  .section__inner {
    max-width: 750px;
    width: 100%;
  }
}

.woocommerce-order-received table.woocommerce-table--order-details {
  thead th.product-total {
    text-align: left !important;
  }
}

.woocommerce-order-received table.woocommerce-table--order-details td,
.woocommerce-order-received
  table.woocommerce-table--order-details
  .woocommerce-Price-amount.amount {
  letter-spacing: 0.44px;
}
