.woocommerce div.product.first {
  @extend %margins-horizontal;
  @extend %margins-vertical;
}

.summary__details .product_title {
  @extend .heading-3;

  margin-bottom: 4px;
}

.woocommerce-product-details__short-description .product-icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 1em 0;

  img {
    display: block;
    height: auto;
    max-width: 40px;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.summary__details .woocommerce-Price-amount {
  @extend .heading-4;

  color: #0a67aa;
}

.woocommerce div.product .summary__details p.price,
.woocommerce div.product .summary__details span.price {
  color: #0a67aa;
  margin-bottom: 18px;
}

.woocommerce div.product .summary__details p.price ins,
.woocommerce div.product .summary__details span.price ins {
  margin-left: 6px;
  text-decoration: none;
}

.woocommerce span.onsale {
  display: none;
}

.summary__details .woocommerce-product-details__short-description {
  margin-bottom: 0.5em;
}

.woocommerce div.product .summary__details form.cart div.quantity {
  margin-right: 16px;

  input {
    background-color: #ffffff;
    border: solid 1px #b7bcd6;
    border-radius: 4px;
    height: 45px;
    padding-left: 14px;
    text-align: center;
    width: 50px;

    @include mq($from: medium) {
      padding-left: 12px;
    }
  }
}

.single-product {
  .woocommerce-notices-wrapper {
    @extend %inset-width;
  }
}

.woocommerce div.product .summary__details form.cart .button {
  @extend .button;
  @extend .button--primary;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  display: flex;
  padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50%;

  @include mq($from: medium) {
    padding: 0 2em;
    width: auto;
  }

  &::before,
  &::after {
    display: none;
  }

  &.active {
    border-bottom: 2px solid #1b80c9;
  }

  a {
    @extend .heading-4;

    color: #2c3e50;
    font-weight: 500;
    padding: 8px 0;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}

.woocommerce div.product .woocommerce-tabs .panel {
  > *:not(:first-child) {
    margin-top: 1em;
  }

  a {
    @extend .link;
    @extend .link--small;
  }

  p {
    @extend .body;
  }

  ol,
  ul {
    list-style-position: outside;
    padding-left: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }

  h1,
  .heading-1 {
    @extend .heading-1;
  }

  h2,
  .heading-2 {
    @extend .heading-2;
  }

  h3,
  .heading-3 {
    @extend .heading-3;
  }

  h4,
  .heading-4 {
    @extend .heading-4;
  }

  h5,
  .heading-5 {
    @extend .heading-5;
  }

  h6,
  .heading-6 {
    @extend .heading-6;
  }

  ul {
    @extend .list;
  }

  li {
    @extend .list-item;
  }

  blockquote {
    @extend .heading-5;

    border-left: 5px solid #1b80c9;
    margin-left: 0;
    padding: 4px 33px 10px;

    @include mq($from: medium) {
      margin-left: 20px;
    }
  }

  video,
  iframe {
    max-width: 100%;
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
  }
}

.woocommerce table.shop_attributes th {
  text-align: left;
  width: auto;
}

.woocommerce .related.products {
  text-align: center;
}

.woocommerce .related.products ul.products {
  margin-top: $margin-top * 2;
}

.woocommerce .related.products ul.products li {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
  width: 100%;

  @include mq($from: medium) {
    margin: 0;
    padding: 0 30px;
    width: 33.33%;
  }
}

.woocommerce .related.products ul.products li .woocommerce-loop-product__title {
  @extend .heading-5;
}

.woocommerce .related.products ul.products li .price {
  color: #0a67aa;
}

.woocommerce .related.products ul.products li .button {
  @extend .button;
  @extend .button--primary;
}

.woocommerce-message {
  @extend .body;

  border-top-color: $color-primary-blue;
}

.summary .pre_order_single {
  @extend .body;

  background-color: #f4f5f7;
  border: solid 1px #cccdcf;
  border-radius: 1px;
  color: #c42c44 !important;
  padding: 1em;
}

#display-deposit-product {
  @extend .body;
  @extend .body--small;

  background-color: #f4f5f7;
  border: solid 1px #cccdcf;
  border-radius: 1px;
  color: #2c3e50;
  padding: 1em;

  .deposit-info strong {
    color: #2c3e50;
    font-size: 14px;
    font-weight: 400;
    line-height: unset;
  }

  .woocommerce-Price-amount.amount {
    color: #2c3e50;
    font-size: 14px;
    font-weight: 500;
    line-height: unset;
  }
}

.woocommerce form.variations_form.cart {
  table.variations tr {
    border: 0px;
    border-radius: 0;

    .value {
      position: relative;
    }

    .value::before {
      background-color: transparent;
      border-bottom: 1px solid $color-primary-dark-blue;
      border-left: 1px solid $color-primary-dark-blue;
      border-width: 0px 0px 2px 2px;
      content: "";
      display: block;
      height: 10px;
      position: absolute;
      right: 28%;
      top: 20px;
      transform: translateY(-70%) rotate(-45deg);
      width: 10px;
    }
  }

  select {
    border: 0px;
    border-bottom: 1px solid $color-gray-3;
  }
}

.woocommerce-Tabs-panel--custom-additional-information {
  section.section-table {
    background: $color-background;
    padding: 0px;

    @include mq($from: medium) {
      padding: 28px;
    }

    .section__inner {
      width: 100%;

      @include mq($from: medium) {
        padding-right: 10%;
      }
    }
  }

  table.section-table__table {
    tr {
      border-bottom: 1px solid $color-gray-3;
      border-top: 1px solid $color-gray-3;
    }

    td {
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 13px;
      padding-top: 13px;

      &:first-child {
        display: inline-block;
        font-weight: 900;
        width: 145px;
      }

      &:last-child {
        width: 100%;
      }
    }
  }
}

.woocommerce div.product div.images ol.flex-control-thumbs li {
  margin-right: 10px;
  margin-top: 10px;
}

.woocommerce .woocommerce-product-gallery__trigger {
  display: none;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
  padding: 0;

  @include mq($from: medium) {
    padding: 0 2em;
  }
}
