.wcwl-input-group {
  margin-top: 35px;
  position: relative;

  .wcwl_email:focus ~ .wcwl_email_label,
  .wcwl_email:not(:focus):valid ~ .wcwl_email_label {
    color: #6a6d71;
    font-size: 12px;
    font-weight: 500;
    left: 0;
    line-height: 1.17;
    opacity: 1;
    top: -12px;
  }
}

.wcwl_email_label {
  @extend .body;

  color: $color-primary-dark-blue;
  display: block;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 2px;
  transition: 0.2s ease all;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.wcwl-input-group input[type="email"].wcwl_email {
  @extend .body;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-gray-3;
  color: $color-primary-dark-blue;
  display: block;
  padding: 4px 4px 4px 0;
  position: relative;
  width: 100%;

  &::placeholder {
    color: $color-gray-5;
  }

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}

.wcwl-display .wcwl_control {
  display: inline-block;
  margin-top: 37px;
  text-align: center;
  width: 100%;

  @include mq($from: medium) {
    margin-top: 20px;
    text-align: left;
  }

  .woocommerce_waitlist.button {
    @extend .button--primary;

    width: 100%;

    @include mq($from: medium) {
      width: unset;
    }
  }
}

.wcwl-display {
  background-color: #f4f5f7;
  border: solid 1px #cccdcf;
  border-radius: 1px;
  display: block;
  margin-bottom: 20px;
  margin-top: 25px;
  padding: 1em;

  .wcwl_intro {
    margin-bottom: 1em;

    .wcwl_heading {
      font-weight: 500;
    }

    p {
      @extend .body;
    }

    :first-child {
      color: #c42c44;
      padding-bottom: 5px;
    }
  }
}

.wcwl_notice.woocommerce-message {
  background-color: #3f8530;
  border-radius: 1px;
  padding: 12px 33px;

  p {
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
  }
}

.wcwl_notice.woocommerce-message::before {
  background: url("./assets/icons/wcwl-icon-check.svg") no-repeat;
  content: "";
  display: block;
  height: 100%;
  left: 15px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-11px);
  width: 22px;
}

.my_account_titles#wcwl_my_waitlist {
  font-size: 16px;
  font-weight: 900;

  @include mq($from: medium) {
    font-size: 32px;
  }
}

.waitlist-single-product:last-child hr {
  background-color: transparent;
}

.waitlist-single-product {
  margin-top: 56px;
  width: 100%;

  @include mq($from: medium) {
    margin-top: 29px;
  }

  .waitlist-title-link {
    color: $color-primary-dark-blue;
    margin-bottom: 14px;
    max-width: fit-content;
    pointer-events: none;
    text-align: left;
  }

  p,
  .waitlist-title-link,
  .wcwl_remove_product {
    text-align: left !important;
  }

  .waitlist-title-link {
    margin-bottom: 14px;
    margin-top: 27px;

    @include mq($from: medium) {
      margin-bottom: 17px;
      margin-top: 30px;
    }
  }

  p a.wcwl_remove_product {
    color: #2c3e50 !important;
    font-weight: 900 !important;
    line-height: 21px !important;

    &:hover,
    &:focus {
      color: $color-primary-blue !important;
    }
  }
}

.woocommerce-MyAccount-content
  .waitlist-user-waitlist-wrapper
  .waitlist-thumbnail {
  display: block;
  margin-bottom: 17px;
  margin-top: 17px;
  overflow: hidden;
  position: relative;

  @include mq($from: medium) {
    margin-bottom: 14px;
  }
}

.woocommerce-MyAccount-content
  .waitlist-user-waitlist-wrapper
  .waitlist-thumbnail
  img {
  display: block;
  height: 100%;
  margin: unset;
  max-height: 200px;
  max-width: 300px;
  object-fit: cover;
  width: 100%;
}

.woocommerce-account .waitlist-products hr {
  background-color: #d8dce0;
}

.waitlist-single-product a:hover .waitlist-title-link,
.waitlist-single-product a:focus .waitlist-title-link {
  border-bottom: 1px solid #1b80c9;
  color: #1b80c9;
}
