.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-bottom-width: 2px;
}
.woocommerce a.button.wc-backward {
  @extend .button--primary;
  &:first-child {
    margin-top: 1em;
  }
}

.woocommerce-variation-add-to-cart.woocommerce-variation-add-to-cart-enabled {
  margin-top: 20px;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  /* stylelint-disable */
  margin: 1.5em 0 1.5em 0;
  /* stylelint-enable */
}

.woocommerce-min-max-quantities-error-cart-link.button {
  /* stylelint-disable */
  color: $color-tertiary-red !important;
  @include mq($until: medium) {
    float: unset;
    margin-top: 1em;
  }
}

.woocommerce-cart-form table,
.woocommerce-cart-form tbody {
  @include mq($until: medium) {
    display: block;
  }
}

/*eslint-disable */
.woocommerce-account
  .woocommerce-MyAccount-content
  ul
  li.woocommerce-PaymentMethod {
  padding-left: 0;
  &::before {
    width: 0;
  }
}
.woocommerce-account label[for="payment_method_stripe"] {
  img {
    display: inline-block;
  }
}
label[for="payment_method_stripe"] {
  padding-bottom: 25px;
}
.woocommerce-info--downloads a.button {
  border-bottom: 1px solid #2c3e50;
  color: #2c3e50 !important;

  &:hover,
  &:focus {
    border-bottom: 1px solid #2c3e50 !important;
  }
}

.woocommerce-info a,
.woocommerce-info li a,
.woocommerce-NoticeGroup a,
.woocommerce-NoticeGroup li a,
.woocommerce-error a,
.woocommerce-error li a {
  border-bottom: 1px solid $color-background;
  color: $color-background !important;

  &:hover,
  &:focus {
    border-bottom: 1px solid $color-background !important;
  }
}

.woocommerce a.remove:hover {
  color: red !important;
  border-bottom: unset !important;
  text-shadow: -0.1px -0.1px 0 rgba($color: #000000, $alpha: 0.3),
    0.4px -0.1px 0 rgba($color: #000000, $alpha: 0.3),
    -0.1px 0.1px 0 rgba($color: #000000, $alpha: 0.3),
    0.6px 0.6px 0 rgba($color: #000000, $alpha: 0.3);
}
/*eslint-enable */
.woocommerce a.added_to_cart {
  margin-left: 0.5em;
  padding-bottom: 0.5em;
}

.woocommerce-lost-password .section-default-content__rich-text {
  .woocommerce {
    display: flex;
    flex-direction: column;
  }

  .woocommerce h2:first-of-type {
    margin-bottom: 12px;
  }

  .woocommerce form.woocommerce-ResetPassword {
    h2:first-of-type {
      margin-bottom: 12px;
    }

    input[type="text"] {
      border-bottom: 1px solid #d8dce0;
      padding-bottom: 5px;

      &:first-of-type {
        margin-top: 20px;
      }
    }

    button[type="submit"] {
      margin-top: 15px;
    }
  }
}
