.woocommerce-checkout {
  a.button,
  button.button {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 20px;
  }
  input {
    border-bottom: 1px solid $color-gray-3;
    padding-bottom: 5px;
  }

  .select2-selection {
    border: 0px;
    border-bottom: 1px solid $color-gray-3;
    border-radius: 0px;
  }

  textarea {
    border: 1px solid $color-gray-3;
    border-radius: 4px;
    height: 60px !important;
    padding: 11px 11px 0;
  }

  .select2-container--open .select2-dropdown {
    border-color: $color-gray-3;
    top: 4px;
  }

  .select2-selection--single .select2-selection__arrow b {
    background-color: transparent;
    border-bottom: 1px solid $color-primary-dark-blue;
    border-left: 1px solid $color-primary-dark-blue;
    border-width: 0px 0px 1px 1px;
    content: "";
    display: block;
    height: 10px;
    transform: translateY(-50%) rotate(-45deg);
    width: 10px;
  }

  .select2-container--open
    .select2-selection--single
    .select2-selection__arrow
    b {
    background-color: transparent;
    border-bottom: 1px solid $color-primary-dark-blue;
    border-left: 1px solid $color-primary-dark-blue;
    border-width: 0px 0px 1px 1px;
    content: "";
    display: block;
    height: 10px;
    top: 20px;
    transform: translateY(-50%) rotate(135deg);
    width: 10px;
  }

  .woocommerce-form-coupon-toggle {
    .woocommerce-info {
      background: $color-primary-dark-blue;
      border-top: 0px;
      color: $color-background;
      padding: 18px 33px;
      text-transform: uppercase;

      &::before {
        content: none;
      }
    }

    a.showcoupon:not(.button) {
      border-bottom: 1px solid $color-background;
      color: $color-background;
    }
  }

  .woocommerce-checkout-review-order-table .cart_item .product-quantity,
  .woocommerce-checkout-review-order-table .cart-item .product-name,
  .woocommerce-checkout-review-order-table .composited_product_quantity {
    color: #2c3e50;
    font-size: 16px;
    font-stretch: normal;
    font-weight: normal;
    letter-spacing: 0.44px;
    line-height: normal;
  }

  .woocommerce-checkout-review-order-table .component {
    p,
    .composited_product_quantity {
      color: #6a6d71;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0.39px;
      line-height: normal;
    }
  }

  .woocommerce-form-login-toggle {
    .woocommerce-info {
      background: $color-primary-dark-blue;
      border-top: 0px;
      color: $color-background;
      padding: 18px 33px;
      text-transform: uppercase;

      &::before {
        content: none;
      }
    }
  }

  table.shop_table {
    border: 0px;

    th {
      font-family: $font-family-base;
      font-size: 16px;
      font-weight: 900;
      max-width: 60%;
      padding: 0;
    }

    .woocommerce-Price-amount.amount {
      @extend .body;
    }

    .cart_item .product-total,
    thead th.product-total {
      text-align: left;
    }

    .cart-subtotal td,
    .order-total td,
    .tax-total td {
      text-align: left;
    }

    &.woocommerce-checkout-review-order-table {
      td {
        font-weight: 500;
        letter-spacing: 0.44px;
      }
    }
  }

  #customer_details {
    margin-bottom: 74px;

    .col-1 {
      p.form-row:not(.form-row-first):not(.form-row-last) label,
      p.form-row input[name="billing_address_2"],
      p.form-row input[name="shipping_address_2"] {
        margin-top: 20px;

        @include mq($from: medium) {
          margin-top: 26px;
        }
      }
    }

    .col-1 .woocommerce-shipping-fields {
      margin-top: 54px;

      @include mq($from: medium) {
        margin-top: 67px;
      }
    }

    .col-2 #order_review_heading {
      margin-bottom: 20px;

      @include mq($from: medium) {
        margin-bottom: 30px;
      }
    }

    .col-2 .woocommerce-checkout-review-order-table td {
      padding: 9px 0px;
    }

    .form-row .required {
      color: $color-gray-5;
    }

    .form-row.woocommerce-invalid input.input-text {
      border-color: $color-tertiary-red;
    }

    .form-row.woocommerce-invalid label,
    .form-row.woocommerce-invalid .required {
      color: $color-tertiary-red;
    }
  }

  #payment {
    background: none;

    ul.payment_methods {
      background-color: transparent;
      border: 1px solid $color-gray-3;

      li {
        padding-left: 0px;

        &::before {
          content: none !important;
        }
      }
    }

    .payment_method_paypal .about_paypal {
      float: unset;
      line-height: unset;
    }

    .payment_method_paypal {
    }

    ul.payment_methods li img {
      float: right;
      margin: -10px 0 0 0.5em;
      max-width: 90px;

      @include mq($from: medium) {
        margin: -10px 0 0 0.5em;
      }
    }

    div.payment_box {
      background-color: transparent;
      border-top: 1px solid $color-gray-2;
      padding: unset;
      padding-top: 10px;

      &::before,
      &::after {
        background-color: transparent;
        border: none;
      }

      p {
        color: $color-gray-5;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
      }
    }

    div.form-row {
      margin-top: 50px;
      padding: unset;
    }

    .place-order {
      @include mq($from: medium) {
        margin-top: 4em;
        padding: unset;
      }

      .woocommerce-terms-and-conditions-wrapper {
        border-top: 1px solid $color-gray-3;
        padding-top: 10px;
      }
    }
  }

  #payment button#place_order {
    @extend .button--primary;

    float: unset;
    margin-top: 30px;
    width: 100%;
  }

  .woocommerce-privacy-policy-text p {
    color: #6a6d71;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
  }

  .woocommerce-billing-fields .heading-4,
  .heading-4 {
    font-weight: 500;
  }

  .woocommerce-billing-fields label {
    @extend .body;
    @extend .body--small;

    color: #6a6d71;
  }

  .col-2 {
    @include mq($until: medium) {
      margin-top: 3em;
    }
  }

  table.shop_table tfoot td.order_details--payment-method {
    font-weight: 400;
  }

  .checkout_coupon {
    button {
      @extend .button--secondary;
    }

    .form-row {
      margin: 0;
    }

    .form-row-first {
      width: 50%;
    }

    input {
      border: 1px solid #d8dce0;
      border-radius: 3px;
      font-family: $font-family-base;
      font-size: 13px;
      letter-spacing: 0.1px;
      padding: 11px;
    }
  }
}

.woocommerce .woocommerce-error {
  background: $color-tertiary-red;
  border-top: none;

  li {
    align-items: center;
    color: $color-background;
    display: flex;
    flex-wrap: wrap;

    &::before {
      content: none;
    }

    a {
      margin-top: 1em;

      @include mq($from: medium) {
        margin-left: auto;
        margin-top: unset;
      }
    }
  }

  &::before {
    content: none;
  }
}

.wc_payment_methods,
#fieldkit-shipping-methods {
  .wc_payment_method,
  #shipping_method {
    input[type="radio"] {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      left: -1000px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      z-index: -1000;
    }

    input[type="radio"]:checked ~ label .check {
      border: 1px solid #d8dce0;
    }

    input[type="radio"]:checked ~ label .check::before {
      background: #2c3e50;
    }

    input[name="wc-stripe-payment-token"]:checked ~ label::before {
      background: #2c3e50;
    }

    input[name="wc-stripe-payment-token"] ~ label::before {
      border-radius: 100%;
      content: "";
      display: block;
      height: 15px;
      left: -26px;
      margin: auto;
      position: absolute;
      top: 4px;
      width: 15px;
    }

    input[name="wc-stripe-payment-token"] ~ label::after {
      border: 1px solid #d8dce0;
      border-radius: 100%;
      content: "";
      display: block;
      height: 25px;
      left: -30.7px;
      margin: auto;
      position: absolute;
      top: -1.2px;
      width: 25px;
    }

    input[name="wc-stripe-payment-token"] ~ label {
      cursor: pointer;
      display: block;
      height: 25px;
      left: 26px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 5;
    }

    .check {
      border: 1px solid #d8dce0;
      border-radius: 100%;
      cursor: pointer;
      display: block;
      height: 25px;
      left: -36px;
      position: absolute;
      top: 0;
      width: 25px;
      z-index: 5;

      &::before {
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        left: 4px;
        margin: auto;
        position: absolute;
        top: 4px;
        width: 15px;
      }
    }

    label {
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      margin-left: 36px;
      position: relative;
    }

    #wc-stripe-cc-form,
    .woocommerce-SavedPaymentMethods-saveNew {
      label {
        margin-left: 0;
      }
    }

    &:not(:first-of-type) {
      margin-top: 10px !important;
    }
  }
}

.woocommerce-terms-and-conditions {
  @extend .rich-text;
}

.woocommerce-SavedPaymentMethods.wc-saved-payment-methods {
  margin-top: 1em;
  padding-top: 1em;
}
