.woocommerce-account {
  .select2-selection {
    border: 0px;
    border-bottom: 1px solid $color-gray-3;
    border-radius: 0px;
  }

  .select2-container--open .select2-dropdown {
    border-color: $color-gray-3;
    top: 4px;
  }

  address {
    font-style: normal;
  }

  .select2-selection--single .select2-selection__arrow b {
    background-color: transparent;
    border-bottom: 1px solid $color-primary-dark-blue;
    border-left: 1px solid $color-primary-dark-blue;
    border-width: 0px 0px 1px 1px;
    content: "";
    display: block;
    height: 10px;
    transform: translateY(-50%) rotate(-45deg);
    width: 10px;
  }

  .woocommerce {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;

    @include mq($from: medium) {
      flex-direction: row;
      margin-bottom: 100px;
    }

    button.button {
      @extend .button--primary;

      margin-top: 40px;
      width: 100%;

      @include mq($from: small) {
        width: auto;
      }
    }

    h1 {
      color: #2c3e50;
      font-family: $font-family-base;
      font-size: 24px;
      font-weight: 900;
      letter-spacing: normal;
      line-height: normal;

      @include mq($from: large) {
        font-size: 32px;
      }
    }

    h3 {
      font-family: $font-family-base;
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      letter-spacing: normal;
      line-height: normal;

      @include mq($from: large) {
        font-size: 24px;
      }
    }
  }

  .woocommerce-MyAccount-navigation {
    margin-bottom: 30px;
    max-width: 100%;
    width: 100%;

    @include mq($from: medium) {
      margin-bottom: 0px;
      margin-right: 107px;
      max-width: calc(#{(100% * 4 / 12)} - 53.5px);
    }

    ul {
      padding-left: 0px;
    }

    .woocommerce-MyAccount-navigation-link {
      position: relative;

      &::after {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 18px;
        pointer-events: none;
        position: absolute;
        right: 10px;
        width: 18px;
      }
    }

    .woocommerce-MyAccount-navigation-link--dashboard {
      &::after {
        background-image: url(./assets/icons/dashboard.svg);
      }

      &:hover::after,
      &:focus::after {
        background-image: url(./assets/icons/dashboard-active.svg);
      }

      &.is-active {
        &::after {
          background-image: url(./assets/icons/dashboard-active.svg);
        }
      }
    }

    .woocommerce-MyAccount-navigation-link--payment-methods {
      &::after {
        background-image: url(./assets/icons/payment-method.svg);
      }

      &:hover::after,
      &:focus::after {
        background-image: url(./assets/icons/payment-method-selected.svg);
      }

      &.is-active {
        &::after {
          background-image: url(./assets/icons/payment-method-selected.svg);
        }
      }
    }

    .woocommerce-MyAccount-navigation-link--orders {
      &::after {
        background-image: url(./assets/icons/orders.svg);
      }

      &:hover::after,
      &:focus::after {
        background-image: url(./assets/icons/orders-active.svg);
      }

      &.is-active {
        &::after {
          background-image: url(./assets/icons/orders-active.svg);
        }
      }
    }

    .woocommerce-MyAccount-navigation-link--downloads {
      &::after {
        background-image: url(./assets/icons/downloads.svg);
      }

      &:hover::after,
      &:focus::after {
        background-image: url(./assets/icons/downloads-active.svg);
      }

      &.is-active {
        &::after {
          background-image: url(./assets/icons/downloads-active.svg);
        }
      }
    }

    .woocommerce-MyAccount-navigation-link--edit-address {
      &::after {
        background-image: url(./assets/icons/addresses.svg);
      }

      &:hover::after,
      &:focus::after {
        background-image: url(./assets/icons/addresses-active.svg);
      }

      &.is-active {
        &::after {
          background-image: url(./assets/icons/addresses-active.svg);
        }
      }
    }

    .woocommerce-MyAccount-navigation-link--edit-account {
      &::after {
        background-image: url(./assets/icons/account-details.svg);
      }

      &:hover::after,
      &:focus::after {
        background-image: url(./assets/icons/account-details-active.svg);
      }

      &.is-active {
        &::after {
          background-image: url(./assets/icons/account-details-active.svg);
        }
      }
    }

    .woocommerce-MyAccount-navigation-link--customer-logout {
      &::after {
        background-image: url(./assets/icons/logout.svg);
      }

      &:hover::after,
      &:focus::after {
        background-image: url(./assets/icons/logout-active.svg);
      }

      &.is-active {
        &::after {
          background-image: url(./assets/icons/logout-active.svg);
        }
      }
    }
  }

  .woocommerce-MyAccount-navigation-link--woocommerce-waitlist {
    &::after {
      background-image: url(./assets/icons/wait-list-icon.svg);
    }

    &:hover::after,
    &:focus::after {
      background-image: url(./assets/icons/wait-list-icon-active.svg);
    }

    &.is-active {
      &::after {
        background-image: url(./assets/icons/wait-list-icon-active.svg);
      }
    }
  }

  .woocommerce-MyAccount-navigation-link--my-pre-orders {
    &::after {
      background-image: url(./assets/icons/pre-order-icon.svg);
    }

    &:hover::after,
    &:focus::after {
      background-image: url(./assets/icons/pre-order-icon-active.svg);
    }

    &.is-active {
      &::after {
        background-image: url(./assets/icons/pre-order-icon-active.svg);
      }
    }
  }

  .woocommerce-info--downloads {
    align-items: center;
    background-color: #fcfcfc;
    border: solid 1px #d8dce0;
    color: $color-primary-dark-blue;
    display: flex;
    justify-content: space-between;
    padding: 1em;

    &::before,
    &::after {
      display: none;
    }

    .woocommerce-Button {
      background-color: transparent;
      border-bottom: 1px solid transparent;
      border-radius: 0;
      color: $color-primary-dark-blue;
      font-size: 16px;
      min-width: auto;
      padding: 4px 0;

      &:hover,
      &:focus {
        background-color: transparent;
        border-bottom: 1px solid $color-primary-blue;
        color: $color-primary-blue;
      }
    }
  }

  .woocommerce-MyAccount-navigation__link {
    color: $color-primary-dark-blue !important;

    &:hover,
    &:focus {
      color: $color-primary-blue !important;
      font-weight: 900;
    }
  }

  .woocommerce-MyAccount-content {
    @extend .rich-text;

    max-width: 100%;
    width: 100%;

    @include mq($from: medium) {
      max-width: calc(#{(100% * 8 / 12)} - 53.5px);
    }

    > *:first-child {
      margin-top: 0px;
    }

    > *:nth-child(2) {
      margin-top: 0px;
    }

    input {
      border-bottom: 1px solid $color-gray-3;
      padding-bottom: 5px;
    }

    .woocommerce-MyAccount-orders {
      border-left: 0;
      border-radius: 0;
      border-right: 0;
      border-top: 0;

      @include mq($until: medium) {
        border-color: transparent;
      }

      .button {
        @extend .button--primary;
      }

      .woocommerce-orders-table__cell-order-actions,
      .woocommerce-orders-table__header-order-actions {
        display: none;
      }

      td {
        padding: 8px 8px;
      }
    }

    .woocommerce-info--orders {
      align-items: center;
      background-color: #fcfcfc;
      border: solid 1px #d8dce0;
      color: $color-primary-dark-blue;
      display: flex;
      justify-content: space-between;
      padding: 1em;

      &::before,
      &::after {
        display: none;
      }

      .woocommerce-Button {
        background-color: transparent;
        border-bottom: 1px solid transparent;
        border-radius: 0;
        color: $color-primary-dark-blue;
        font-size: 16px;
        min-width: auto;
        padding: 4px 0;

        &:hover,
        &:focus {
          background-color: transparent;
          border-bottom: 1px solid $color-primary-blue;
          color: $color-primary-blue;
        }
      }
    }

    .woocommerce-order-details .shop_table {
      border-left: 0;
      border-radius: 0;
      border-right: 0;
      border-top: 0;
    }

    .woocommerce-order-details__title,
    .woocommerce-column__title {
      font-size: 24px;
      font-weight: 500;
    }

    table.shop_table.woocommerce-table--order-details {
      th,
      td {
        padding: 10px 0px;
      }

      tfoot tr:first-child th,
      tfoot tr:first-child td {
        padding-top: 40px;
      }
    }

    table.shop_table tfoot td {
      .woocommerce-Price-amount {
        font-weight: 500;
      }
    }

    .woocommerce-customer-details {
      address {
        border: 0px;
        padding: 10px 0px;
      }
    }

    .woocommerce-customer-details--email {
      margin-top: 30px;
    }

    .welcome-msg {
      font-size: 24px;
      font-weight: 500;
    }

    mark {
      background-color: transparent;
      font-weight: 500;
    }

    .woocommerce-orders-table tbody td {
      font-size: 14px;
      line-height: 21px;
    }

    .account_display_name-note {
      display: none;
    }
  }

  .dashboard-portal {
    margin-top: 48px;

    @include mq($from: medium) {
      margin-top: 56px;
    }

    ul {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: 48px;
      padding-left: 0px;

      @include mq($from: medium) {
        margin-top: 56px;
      }

      li::before {
        content: none;
      }

      li {
        align-items: center;
        border: 1px solid $color-gray-3;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 32px;
        padding: 20px;
        text-align: center;

        @include mq($from: small) {
          justify-content: flex-start;
          margin-right: 42px;
          width: 140px;
        }
      }

      li:last-child {
        margin-right: 0px;
      }

      li svg {
        fill: $color-primary-dark-blue;
        margin-bottom: 10px;
        max-height: 40px;
        width: 100%;
      }
    }

    a:hover,
    a:focus {
      background-size: 0px;
      border-bottom: 0px;
    }

    a:not(.button) {
      color: $color-primary-dark-blue;

      &:hover,
      &:focus {
        color: $color-primary-blue;

        svg {
          fill: $color-primary-blue;
        }
      }
    }
  }

  .woocommerce-MyAccount-navigation-link {
    align-items: center;
    border-top: 1px solid $color-gray-3;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;

    &:hover,
    &:focus {
      border-bottom: 0px;
      border-color: $color-gray-3;
    }

    &:last-child {
      border-bottom: 1px solid $color-gray-3;

      &:hover,
      &:focus {
        border-bottom: 1px solid $color-gray-3;
      }
    }

    &::before {
      content: none;
    }

    @media screen and (prefers-reduced-motion: reduce) {
      a {
        transition: none;
      }
    }

    a {
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: normal;
      line-height: normal;
      margin: 14.5px 0;
      transition: text-shadow 0.5s;

      &:hover,
      &:focus {
        background-size: 0px;
        border-bottom: 0px;
        margin-bottom: 13.5px;
        text-shadow: -0.1px -0.1px 0 $color-primary-blue,
          0.4px -0.1px 0 $color-primary-blue, -0.1px 0.1px 0 $color-primary-blue,
          0.3px 0.3px 0 $color-primary-blue;
      }

      &:not(.button) {
        color: $color-primary-dark-blue;
      }

      &:not(.button):hover,
      &:not(.button):focus {
        color: $color-primary-blue;
      }
    }

    &.is-active a:not(.button) {
      color: $color-primary-blue;
      font-weight: 900;
    }

    img {
      height: 18px;
      position: absolute;
      right: 10px;
      width: 18px;
      z-index: -1;
    }
  }

  .woocommerce-EditAccountForm {
    fieldset {
      margin-top: 60px;
      padding: 3px;
    }

    .woocommerce-form-row--first,
    .woocommerce-form-row--last {
      @include mq($until: small) {
        width: 100%;
      }
    }
  }

  .woocommerce-Addresses {
    .woocommerce-Address {
      margin-bottom: 47px;
      padding-bottom: 47px;
      position: relative;

      &:last-child {
        margin-bottom: 0px;
      }

      @include mq($from: medium) {
        margin-bottom: 0px;
        padding-bottom: 0px;
      }

      address {
        line-height: 22px;
      }
    }
  }

  .woocommerce-Address-title {
    h3 {
      margin-bottom: 11px;
    }

    .edit {
      bottom: 0;
      font-family: $font-family-base;
      font-weight: 500;
      left: 0;
      position: absolute;

      @include mq($from: medium) {
        bottom: -50px;
      }
    }
  }

  #password-change {
    margin-bottom: 25px;
  }

  input,
  textarea {
    @extend .body;
  }
}

.fieldkit-required-span.right {
  float: right;
}

.woocommerce-edit-account form .form-row .required,
.fieldkit-required-span {
  @extend .body;

  color: $color-gray-5;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  transform: translateY(-4px);
}

.woocommerce form .show-password-input::after,
.woocommerce-page form .show-password-input::after {
  // background: url("./assets/icons/show_password_icon.svg") no-repeat;
  content: "";
  display: block;
  height: 24px;
  right: -15px;
  transform: translateY(-10px);
  width: 24px;
}

.woocommerce-account .woocommerce-MyAccount-content p.body--medium {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: normal;
}

table.my_account_orders th,
table.my_account_orders tr td::before {
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.5;
}

table.my_account_orders .woocommerce-orders-table__row {
  @include mq($until: medium) {
    background-color: #f4f5f7;
    border-color: transparent;
    border-radius: 2px;
    margin-bottom: 13px;
  }

  td {
    @include mq($until: medium) {
      border-color: transparent;
    }
  }
}
