.woocommerce-cart {
  .section__inner {
    max-width: 1080px;
    width: 100%;
  }

  .woocommerce {
    table.shop_table {
      border-bottom: 1px solid $color-gray-3;
      border-left: 0px;
      border-radius: 0px;
      border-right: 0px;
      border-top: 0px;

      thead th {
        color: $color-primary-dark-blue;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.44px;
        text-transform: uppercase;
      }

      tr:first-child td {
        border-top: 2px solid $color-gray-3;
      }

      .component_container_table_item .product-name > div {
        padding-left: 30px;
      }

      .component_table_item .component_table_item_indent {
        padding-left: 40px;

        dt {
          letter-spacing: 0.44px;
        }
      }

      .component_table_item,
      .bundled_table_item,
      .bundle_table_item {
        .product-price,
        .product-quantity,
        .product-subtotal {
          visibility: hidden;
        }
      }

      .bundled_table_item .bundled_table_item_indent {
        padding-left: 50px;

        a {
          letter-spacing: 0.39px;
        }
      }

      .edit_composite_in_cart_text small {
        letter-spacing: 0.36px;
        text-decoration: none;
      }

      thead .product-thumbnail {
        display: none;
      }

      .woocommerce-cart-form__cart-item {
        td.product-thumbnail {
          display: none;
        }
      }

      .woocommerce-cart-form__cart-item td,
      .woocommerce-cart-form__cart-item a {
        background-color: transparent;
        font-weight: 500;
        letter-spacing: 0.44px;
      }

      .actions {
        background-color: transparent;
        padding-top: 33px;
      }

      tr {
        border-color: $color-gray-3;
      }

      .cart-subtotal td,
      .order-total td,
      .tax-total td {
        text-align: right;
      }

      &.cart {
        th {
          padding: 9px 0;
        }

        td {
          padding: 25px 0;
        }
      }
    }

    .button[name="update_cart"],
    .button[name="calc_shipping"] {
      @extend .button--secondary;

      margin-bottom: 10px;

      @include mq($from: medium) {
        margin-bottom: 0px;
        margin-right: 8px;
      }

      &:hover,
      &:focus {
        box-shadow: 0 2px 4px 0 $color-gray-3;
      }

      &:disabled {
        background-color: #d8dce0;
        border: 1px solid currentColor;
        border-radius: 3px;
        color: white;
        font-size: 18px;
        font-weight: 900;
        line-height: normal;
        opacity: 1;
        padding: 10px 20px;

        &:hover,
        &:focus {
          background-color: #d8dce0;
          border: 1px solid currentColor;
          box-shadow: none;
          color: white;
          font-size: 18px;
          font-weight: 900;
        }
      }
    }

    .button.checkout-button {
      @extend .button--primary;

      border-radius: 3px;
      font-size: 18px;
      font-weight: 900;
      line-height: normal;
      opacity: 1;
      padding: 10px 20px;
    }

    .coupon {
      align-items: center;
      display: flex;
      justify-content: space-around;

      #coupon_code {
        border: 1px solid $color-gray-3;
        border-radius: 3px;
        font-family: $font-family-base;
        font-size: 13px;
        letter-spacing: 0.1px;
        padding: 11px;
        width: 170px;

        &::placeholder {
          color: $color-gray-5;
        }
      }

      .button--coupon {
        background-color: #ffffff;
        border: solid 1px $color-primary-red;
        border-radius: 3px;
        color: $color-primary-red;

        &:hover,
        &:focus {
          box-shadow: 0 2px 4px 0 $color-gray-3;
        }
      }
    }

    .quantity .qty {
      appearance: textfield;
      border: 1px solid $color-gray-3;
      border-radius: 2px;
      font-size: 14px;
      letter-spacing: 0.39px;
      padding-bottom: 10px;
      padding-left: 2px;
      padding-right: 2px;
      padding-top: 10px;
      width: 47px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }

    .cart_totals {
      width: 100%;

      @include mq($from: medium) {
        width: 40%;
      }

      h2 {
        font-size: 32px;
        font-weight: 900;
        margin-bottom: 20px;
      }

      tr > * {
        font-weight: 500;
      }

      strong {
        font-weight: 500;
      }

      [data-title="Subtotal"],
      [data-title="Total"] {
        text-align: right;
      }

      table.shop_table_responsive td {
        background-color: transparent;
      }

      th {
        padding: 9px 0;
      }
    }

    .cart-empty.woocommerce-info {
      background-color: $color-primary-dark-blue;
      border-top: none;
      color: #ffffff;
      margin-top: 1em;
      padding: 18px 33px;

      &::before {
        display: none;
      }
    }

    .return-to-shop {
      a {
        @extend .button;
        @extend .button--primary;
      }
    }
  }
}

.woocommerce-cart .woocommerce-info {
  background-color: #2c3e50;
  border-top: none;
  color: #ffffff;
  margin-top: 1em;
  padding: 18px 33px;

  &::before {
    display: none;
  }
}

.woocommerce-cart .bundled_table_item {
  .variation {
    color: #6a6d71;
    font-family: $font-family-base;
    font-size: 14px;
    letter-spacing: 0.39px;
  }
}

.woocommerce-cart .bundle_table_item {
  .component dd > * {
    color: #6a6d71;
    font-family: $font-family-base;
    font-size: 14px;
    letter-spacing: 0.39px;
  }
}

.woocommerce-checkout .bundled_table_item {
  td:first-child {
    padding-left: 0.9rem;

    @include mq($from: medium) {
      padding-left: 1.3rem;
    }
  }

  dl.variation > dt,
  dl.variation > dd > * {
    color: #6a6d71;
    font-family: $font-family-base;
    font-size: 14px;
    letter-spacing: 0.39px;
  }
}

.woocommerce-cart .bundled_table_item {
  td:first-child {
    padding-left: 0.9rem;

    @include mq($from: medium) {
      padding-left: 1.3rem;
    }
  }

  dl.variation > dt,
  dl.variation > dd > * {
    color: #6a6d71;
    font-family: $font-family-base;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.39px;
  }
}

.cart_totals.calculated_shipping .shop_table td {
  &::before {
    @include mq($until: medium) {
      color: #2c3e50;
      font-family: $font-family-base;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.39px;
      line-height: 1.31;
      margin-bottom: 22px;
      text-align: left;
    }
  }
}

td#fieldkit-shipping-methods {
  padding: 28px 0;
  text-align: left;
  width: 100%;

  &::before {
    content: unset;
  }

  .woocommerce-shipping-destination {
    margin-top: 25px;
    text-align: left;

    @include mq($from: medium) {
      margin-top: 35px;
    }
  }
}

ul#shipping_method {
  margin-bottom: 35px;
  text-align: left;
}

.woocommerce-cart #fieldkit-shipping-methods__label {
  color: #2c3e50;
  font-family: $font-family-base;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.39px;
  line-height: 1.31;
  margin-bottom: 22px;
  text-align: left;

  @include mq($from: large) {
    letter-spacing: normal;
  }
}

.woocommerce-checkout #fieldkit-shipping-methods__label {
  font-family: $font-family-base;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 22px;
  text-align: left;

  @include mq($from: large) {
    letter-spacing: normal;
  }
}
