$breakpoint-extra-small: 0px;
$breakpoint-small: 600px;
$breakpoint-medium: 980px;
$breakpoint-large: 1280px;
$breakpoint-extra-large: 1440px;

$breakpoints: (
  "extra-small": $breakpoint-extra-small,
  "small": $breakpoint-small,
  "medium": $breakpoint-medium,
  "large": $breakpoint-large,
  "extra-large": $breakpoint-extra-large
);
