$color-primary-blue: #1b80c9;
$color-primary-dark-blue: #2c3e50;
$color-primary-red: #ce596b;

$color-secondary-blue: #52b5e4;
$color-secondary-light-blue: #a0dbe1;
$color-secondary-salmon: #f48e84;
$color-secondary-sand: #fcdfca;
$color-secondary-khahki: #e49962;

$color-tertary-red: #c42c44;
$color-tertary-green: #3f8530;
$color-tertary-light-blue: #5268cc;
$color-tertary-blue: #3f0b9b;
$color-tertary-light-gray: #ede9e6;
$color-tertary-dark-gray: #464c51;

$color-gray-1: #fcfcfc;
$color-gray-2: #f4f5f7;
$color-gray-3: #d8dce0;
$color-gray-4: #cccdcf;
$color-gray-5: #6a6d71;

$color-accent: $color-primary-blue;
$color-background: #ffffff;
$color-foreground: $color-primary-dark-blue;
$color-primary: $color-primary-blue;
