.body {
  font-family: $font-family-primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  a {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: bold;
    line-height: inherit;
  }
}

.body--small {
  font-size: 14px;
  line-height: 20px;
}

.body--large {
  font-size: 20px;
  line-height: 26px;

  @include breakpoint("medium") {
    font-size: 18px;
    line-height: 25px;
  }
}
