.heading-1 {
  font-family: $font-family-base;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  line-height: 38px;

  @include mq($from: medium) {
    font-size: 40px;
    line-height: 55px;
  }
}

.heading-2 {
  font-family: $font-family-base;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;

  @include mq($from: medium) {
    font-size: 36px;
    line-height: 48px;
  }
}

.heading-3 {
  font-family: $font-family-base;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;

  @include mq($from: medium) {
    font-size: 32px;
    line-height: 44px;
  }
}

.heading-4 {
  font-family: $font-family-base;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @include mq($from: medium) {
    font-size: 24px;
    line-height: 32px;
  }
}

.heading-5 {
  font-family: $font-family-base;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;

  @include mq($from: medium) {
    font-size: 20px;
    line-height: 32px;
  }
}

.heading-6 {
  font-family: $font-family-base;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  @include mq($from: medium) {
    font-size: 18px;
    line-height: 24px;
  }
}
