.section.search-no-results {
  @extend %margins-horizontal;

  padding-bottom: 80px;
  padding-top: 20px;

  @include mq($from: medium) {
    padding-top: 40px;
  }

  .section__inner {
    @extend %maximum-width;
  }
}

.search-no-results__header {
  margin: 1em 0;

  .search-form {
    margin-bottom: 1em;
  }
}
