@use "../abstracts/mixins/mq-conf" as mq;
@use "../abstracts/variables/colors" as *;
@use "../layout-grid/margins";
@use "../layout-grid/maximum-width";
@use "../layout-grid/inset-width";
@use "../layout-grid/variables" as *;
@use "sass:math";

.section-home-hero {
  @extend %margins-horizontal;
  @extend %margins-vertical;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: math.div(100vw * 612, 1440);
  position: relative;
  z-index: 0;

  @include mq.viewport-large {
    padding-bottom: 120px;
  }

  .section__inner {
    @extend %maximum-width;

    display: flex;
    flex-direction: column;

    @include mq.viewport-medium {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.section-home-hero__text {
  @include mq.viewport-medium {
    width: calc(50% - #{math.div($margin-left-medium, 2)});
  }

  .rich-text {
    > *:last-child {
      margin-bottom: 1em;
    }
  }
}

.section-home-hero__link {
  margin-top: 1em;

  @media (max-width: mq.$small) {
    width: 100%;
  }
}

.section-home-hero__image {
  @media (max-width: mq.$medium) {
    margin-top: $margin-top * 2;
  }

  @include mq.viewport-medium {
    width: calc(50% - #{math.div($margin-left-medium, 2)});
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.section-home-hero__background {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    width: 200%;

    @include mq.viewport-medium {
      object-position: 50% 50%;
      width: 100%;
    }
  }
}
