.section-about-values {
  @extend %margins-horizontal;
  @extend %margins-vertical;

  .section__inner {
    @extend %maximum-width;
  }
}

.section-about-values__header {
  margin-bottom: 52px;
  text-align: center;

  .heading-3 {
    @include mq($until: medium) {
      font-size: 24px;
    }
  }
}

.section-about-values__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  margin: auto;
  margin-bottom: 140px;
  text-align: center;

  @include mq($from: small) {
    margin-bottom: 100px;
  }

  @include mq($from: medium) {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: initial;
  }
}

.section-about-values__item {
  margin-bottom: 76px;
  width: 100%;

  @include mq($from: medium) {
    margin-bottom: 0px;
    width: (100% / 5);
  }

  &:last-child {
    margin-bottom: 0px;
  }

  .heading-3 {
    font-size: 20px;
  }

  .heading-4 {
    font-size: 20px;
    font-weight: 700;

    @include mq($from: medium) {
      font-size: 24px;
    }
  }
}

.section-about-values__icon {
  margin-bottom: 26px;
}
