@use "../abstracts/mixins/mq-conf" as mq;
@use "../layout-grid/margins";
@use "../layout-grid/maximum-width";

.section-fk-platform-header-block {
  @extend %margins-horizontal;
  @extend %margins-vertical;

  .section__inner {
    @extend %maximum-width;
  }
}

.section-fk-platform-header-block__header {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;

  @include mq.viewport-medium {
    max-width: 820px;
  }
}
