.section-services-header {
  @extend .section-about-header;

  margin-top: 30px;
  min-height: 100vw * 500 / 1560;

  @include mq($from: medium) {
    margin-top: 45px;
  }

  .rich-text--large > p {
    font-size: 16px;
    line-height: normal;

    @include mq($from: medium) {
      font-size: 24px;
      line-height: normal;
    }
  }
}

.section-services-header__heading {
  @extend .section-about-header__heading;

  max-width: 335px;
  text-align: center;

  @include mq($from: medium) {
    max-width: 803px;
  }
}

.section-services-header__background {
  height: 100%;
  left: 50%;
  max-width: 530px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;

  @include mq($from: medium) {
    max-width: 760px;
  }

  img {
    display: block;
    height: 100%;
    object-fit: inherit;
    width: 100%;

    @include mq($from: medium) {
      object-fit: cover;
    }
  }
}
