.section-home-text-and-image-1 {
  @extend %margins-horizontal;

  background-color: $color-gray-2;
  margin-top: $margin-top * 3;
  padding-bottom: $margin-bottom * 3;
  padding-top: $margin-top * 3;

  @include mq($from: medium) {
    margin-top: 0;
    padding-bottom: $margin-bottom * 5;
    padding-top: $margin-top * 5;
  }

  .section__inner {
    @extend %maximum-width;

    display: flex;
    flex-direction: column-reverse;

    @include mq($from: medium) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.section-home-text-and-image-1__text {
  @include mq($until: medium) {
    margin-top: $margin-top * 2;
  }

  @include mq($from: medium) {
    width: calc(50% - #{$margin-left-medium / 2});
  }

  p {
    @extend .heading-5;

    font-weight: 400;
    margin-top: 1em;
  }
}

.section-home-text-and-image-1__link {
  margin-top: 1em;
}

.section-home-text-and-image-1__image {
  @include mq($from: medium) {
    width: calc(50% - #{$margin-left-medium / 2});
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}
