.section-error-404 {
  @extend %margins-horizontal;
  @extend %margins-vertical--margin;

  text-align: center;

  .section__inner {
    @extend %inset-width;

    max-width: 600px;
  }

  h2 {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

.section-error-404__image {
  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.section-error-404__text {
  margin-top: 30px;

  @include mq($from: medium) {
    margin-top: 50px;
  }
}

.section-error-404__link {
  margin-top: 40px;
  width: 100%;

  @include mq($from: medium) {
    width: auto;
  }
}
