.section-cta-block {
  @extend %margins-horizontal;

  color: $color-background;
  margin-top: 0;
  padding-bottom: $margin-bottom * 3;
  padding-top: $margin-top * 3;
  text-align: center;

  @include mq($from: medium) {
    margin-top: 30px;
    padding-bottom: $margin-bottom * 2;
    padding-top: $margin-top * 2;
  }

  .section__inner {
    @extend %maximum-width;

    max-width: 640px;
  }

  .rich-text > *:not(:first-child) {
    margin-top: 8px;
  }
}

.section-product-guide__content .section.section-cta-block {
  padding-left: 18px;
  padding-right: 18px;
}

.section-cta-block__link {
  margin-top: 28px;

  @include mq($from: medium) {
    margin-top: 20px;
  }
}
