.section-services-header {
  @extend .section-about-header;

  margin-top: 50px;
  min-height: auto;

  @include mq($from: medium) {
    margin-top: 45px;
  }

  .rich-text--large > p {
    font-size: 16px;
    line-height: normal;

    @include mq($from: medium) {
      font-size: 24px;
      line-height: normal;
    }
  }

  .section__inner {
    padding: 5% 0;

    @include mq($from: medium) {
      padding: 10% 0;
    }
  }
}

.section-services-header__heading {
  @extend .section-about-header__heading;

  max-width: 335px;
  padding-top: 40px;
  text-align: center;

  @include mq($from: medium) {
    max-width: 803px;
    padding-top: 0;
  }
}

.section-services-header__background {
  height: 100%;
  left: 50%;
  max-width: 460px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;

  @include mq($from: medium) {
    max-width: 700px;
  }

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
