.section-table-feed {
  @extend %margins-horizontal;
  @extend %margins-vertical--margin;

  background-color: #f1fafb;
  padding-bottom: 40px;
  padding-top: 40px;

  @include mq($from: medium) {
    padding-bottom: 75px;
    padding-top: 75px;
  }

  .section__inner {
    @extend %inset-width;
  }
}

.section-table-feed__header {
  margin-bottom: 12px;
}

.section-table-feed__feed {
  width: 100%;

  td {
    font-family: $font-family-base;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding: 5px;
  }
}
