.section-post-main {
  @extend %margins-horizontal;

  .section__inner {
    @extend %inset-width;
  }
}

.section-post-main__featured-image {
  img {
    display: block;
    height: auto;
    width: 100%;
  }
}
