@use "../abstracts/mixins/mq-conf" as mq;
@use "../abstracts/variables/colors" as *;
@use "../layout-grid/margins";
@use "../layout-grid/maximum-width";
@use "../layout-grid/inset-width";
@use "../layout-grid/variables" as *;
@use "sass:math";

.section-home-product-grid {
  @extend %margins-horizontal;

  padding-top: 60px;

  @include mq.viewport-medium {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .section__inner {
    @extend %maximum-width;
  }
}

.section-home-product-grid__list {
  @include mq.viewport-large {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
  }
}

.section-home-product-grid__item {
  @media (max-width: mq.$large) {
    margin-top: $margin-top-medium;
  }

  @include mq.viewport-small {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  @include mq.viewport-large {
    padding: 20px;
    width: 50%;
  }
}

.section-home-product-grid__item-image {
  @include mq.viewport-small {
    width: calc(50% - #{math.div($margin-left, 2)});
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.section-home-product-grid__item-text {
  @media (max-width: mq.$small) {
    margin-top: $margin-top;
  }

  @include mq.viewport-small {
    width: calc(50% - #{math.div($margin-left, 2)});
  }
}

.section-home-product-grid__item-link {
  margin-top: 1em;

  @media (max-width: mq.$small) {
    width: 100%;
  }
}
