.section-about-header {
  @extend %margins-horizontal;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vw * 729 / 2560;
  overflow: hidden;
  position: relative;
  z-index: 0;

  .section__inner {
    @extend %maximum-width;

    display: flex;
    justify-content: center;
  }
}

.section-about-header__heading {
  position: relative;
  top: -0.5em;

  @include mq($from: medium) {
    top: -1em;
  }
}

.section-about-header__background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    transform: scale(1.25);
    width: 100%;

    @include mq($from: medium) {
      transform: none;
    }
  }
}

.section-about-header__background-mobile img {
  object-fit: contain;
  transform: scale(1);
}
