.section-contact-header {
  @extend .section-about-header;
}

.section-contact-header__heading {
  @extend .section-about-header__heading;

  max-width: 300px;
  padding-top: 40px;
  text-align: center;

  @include mq($from: medium) {
    max-width: 565px;
    padding-top: 0;
  }

  :first-child {
    margin-bottom: 20px;
  }
}

.section-contact-header__background {
  @extend .section-about-header__background;
}

.section-contact-header__background-mobile img {
  object-fit: contain;
  transform: scale(1);
}
