.section-blog-listing-header {
  @extend %margins-horizontal;

  margin-bottom: 0;
  margin-top: 50px;

  @include mq($from: medium) {
    margin-bottom: 103px;
    margin-top: 80px;
  }

  .section__inner {
    text-align: center;

    @extend %maximum-width;
  }
}
