.section-image {
  @extend %margins-horizontal;
  @extend %margins-vertical--margin;

  .section__inner {
    @extend %inset-width;
  }

  .section-image__heading {
    text-align: center;
  }
}

.section-image__image {
  margin-top: $margin-top * 2;

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}
