.section-post-header {
  @extend %margins-horizontal;
  @extend %margins-vertical--margin;

  margin-bottom: $margin-bottom * 2;

  .section__inner {
    @extend %inset-width;

    text-align: left;
  }
}

.section-post-header__date {
  margin-top: 0.5em;
}
