.section-contact-form {
  @extend %margins-horizontal;

  padding-bottom: 130px;
  padding-top: 80px;

  @include mq($from: medium) {
    padding-bottom: 160px;
    padding-top: 0;
  }

  .section-contact-form__heading {
    margin-bottom: 0;
    text-align: center;

    @include mq($from: medium) {
      margin: 50px auto 70px;
      max-width: 565px;
    }

    :first-child {
      margin-bottom: 20px;
    }
  }

  .text-input,
  .wpcf7 input[type="email"],
  .wpcf7 input[type="text"],
  .textarea-input,
  .wpcf7 textarea {
    width: 100%;
  }

  span.wpcf7-list-item {
    max-width: 280px;
  }

  .wpcf7 input[type="submit"] {
    @extend .button;
    @extend .button--primary;

    max-width: 100%;
    width: 100%;

    @include mq($from: medium) {
      width: auto;
    }
  }

  .wpcf7-form {
    .text-input-required {
      color: $color-primary-dark-blue;
      display: block;
      font-size: 13px;
      font-weight: 400;
      line-height: normal;
      text-align: center;

      @include mq($from: medium) {
        text-align: right;
      }
    }

    .wpcf7-response-output {
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      padding: 12px 15px;
    }
  }

  .wpcf7 form.sent .wpcf7-response-output {
    background-color: #3f8530;
    border: none;
    color: #ffffff;

    &::before {
      background-image: url(./assets/icons/icon-check.svg);
      content: "";
      display: inline-block;
      height: 18px;
      margin-right: 15px;
      vertical-align: middle;
      width: 22px;
    }
  }

  .wpcf7 form.invalid .wpcf7-response-output {
    background: $color-tertary-red;
    border: none;
    color: $color-background;
    font-family: $font-family-base;
    font-size: 16px;
    padding: 17px;
  }
}
