.section-home-callout {
  @extend %margins-horizontal;

  background-color: $color-primary-blue;
  color: $color-background;
  padding-bottom: $margin-bottom * 3;
  padding-top: $margin-top * 3;
  text-align: center;

  @include mq($from: medium) {
    padding-bottom: $margin-bottom * 2;
    padding-top: $margin-top * 2;
  }

  .section__inner {
    @extend %maximum-width;

    max-width: 640px;
  }
}

.section-home-callout__link {
  margin-top: 2em;
}
