.section-blog-listing-header {
  @extend %margins-horizontal;

  margin-bottom: 90px;

  @include mq($from: medium) {
    margin-bottom: 103px;
  }

  .section__inner {
    text-align: center;
    @extend %maximum-width;
  }
}
