.section-blog-post-feed {
  @extend %margins-horizontal;
  @extend %margins-vertical;

  border-top: 1px solid $color-gray-3;
  padding-top: 93px;
  text-align: center;

  .section__inner {
    @extend %maximum-width;
  }
}

.section-blog-post-feed__feed {
  margin-top: 79px;

  @include mq($from: medium) {
    margin-top: 80px;
  }
}

.section-blog-post-feed__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: ($margin-left / -2);

  @include mq($from: small) {
    margin: ($margin-left-medium / -2);
  }
}

.section-blog-post-feed__item {
  padding: ($margin-left / 2);
  width: 100%;

  &:nth-child(n + 4) {
    display: none;
  }

  @include mq($from: small) {
    padding: ($margin-left-medium / 2);
    width: 50%;

    &:nth-child(n + 5) {
      display: none;
    }
  }

  @include mq($from: medium) {
    width: 33.33%;
  }
}

.post-teaser {
  text-align: left;
}

.post-teaser .post-teaser__title {
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: underline;
}

.post-teaser a {
  color: $color-primary-dark-blue;
}

.post-teaser__image {
  height: 0;
  margin-bottom: 20px;
  padding-bottom: 75%;
  position: relative;
  width: 100%;

  img {
    display: block;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.post-teaser__date {
  @extend .heading-5;

  font-weight: 400;
}

.section-blog-post-feed__load-more {
  margin-top: 50px;
}
