.section-header {
  @extend %margins-horizontal;
  @extend %margins-vertical--margin;

  margin-top: 55px;

  @include mq($from: medium) {
    margin-top: 100px;
  }

  .section__inner {
    @extend %inset-width;
  }
}

.section-header__links {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 75px;

  @include mq($from: medium) {
    flex-direction: row;
    margin-top: 126px;
  }
}

.section-header__links-item {
  margin-top: 0;

  &:not(:first-child) {
    margin-top: 32px;
  }

  @include mq($from: medium) {
    margin-top: 0;

    &:not(:first-child) {
      margin-left: 20px;
      margin-top: 0;
    }
  }
}
