.section-introduction {
  @extend %margins-horizontal;
  @extend %margins-vertical--margin;

  margin-top: 118px;

  .section__inner {
    @extend %inset-width;
  }
}

.section-introduction__header {
  @extend %inset-width;

  text-align: center;
}

.section-introduction__image {
  margin-top: 102px;

  @include mq($from: medium) {
    margin-top: 198px;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.section-introduction__text {
  margin-top: 73px;

  @include mq($from: medium) {
    column-count: 2;
    margin-top: 154px;
  }
}
