.section-definition-list {
  @extend %margins-horizontal;

  margin-bottom: 20px;
  margin-top: 20px;

  .section__inner {
    @extend %inset-width;
  }
}

.section-definition-list__header {
  margin-bottom: $margin-top;
}

.section-definition-list__item {
  display: flex;
  flex-direction: column;

  @include mq($from: medium) {
    flex-direction: row;
  }

  &:not(:first-child) {
    margin-top: $margin-top + 5px;
  }
}

.rich-text .section-definition-list__item-text-name {
  font-size: 20px;
  font-weight: 700;
}

.section-definition-list__item-image {
  flex: 0 0 auto;
  margin-bottom: 25px;
  max-width: 100%;

  @include mq($from: medium) {
    margin-bottom: initial;
    margin-right: 25px;
    max-width: 200px;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}
