.section-services-text-grid {
  @extend %margins-horizontal;

  padding-top: 40px;

  @include mq($from: medium) {
    padding-top: 80px;
  }

  .section__inner {
    @extend %maximum-width;
  }
}

.section-services-text-grid__list {
  display: flex;
  flex-wrap: wrap;
}

.section-services-text-grid__item {
  flex: 0 0 100%;
  padding-bottom: 43px;

  @include mq($from: medium) {
    flex: 0 0 50%;
    padding-bottom: 93px;
  }
}
