.section-blog-post-feed {
  @extend %margins-horizontal;
  @extend %margins-vertical;

  border-top: 1px solid #d8dce0;
  text-align: center;

  .section__inner {
    @extend %maximum-width;
  }
}

.section-blog-post-feed__feed {
  margin-top: 79px;

  @include mq($from: medium) {
    margin-top: 80px;
  }
}

.section-blog-post-feed__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: ($margin-left / -2);

  @include mq($from: small) {
    margin: ($margin-left-medium / -2);
  }
}

.section-blog-post-feed__item {
  padding: ($margin-left / 2);
  width: 100%;

  @include mq($from: small) {
    padding: ($margin-left-medium / 2);
    width: 50%;

    &:nth-child(n + 5) {
      display: none;
    }
  }

  @include mq($from: medium) {
    width: 33.33%;

    &:nth-child(n + 4) {
      display: none;
    }
  }
}

.post-teaser {
  text-align: left;
}

.post-teaser .post-teaser__title {
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: underline;
}

.post-teaser a {
  color: #2c3e50;
}

.post-teaser__image {
  margin-bottom: 20px;

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.section-blog-post-feed__load-more {
  margin-top: 50px;
}
