.section-about-values {
  @extend %margins-horizontal;
  @extend %margins-vertical;

  .section__inner {
    @extend %maximum-width;
  }
}

.section-about-values__header {
  margin-bottom: 52px;
  text-align: center;
}

.section-about-values__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  margin: auto;
  text-align: center;

  @include mq($from: medium) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.section-about-values__item {
  margin-bottom: 76px;
  width: 100%;

  @include mq($from: medium) {
    margin-bottom: 0px;
    width: (100% / 5);
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.section-about-values__icon {
  margin-bottom: 26px;
}
