.section-table {
  @extend %margins-horizontal;
  @extend %margins-vertical;

  background-color: #f1fafb;

  .section__inner {
    @extend %inset-width;
  }
}

.section-table__header {
  margin-bottom: 3em;
}

.section-table__table {
  th {
    padding: 5px;
  }

  width: 100%;

  td {
    font-family: $font-family-base;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding: 5px;
  }
}

.section-table--primary {
  .section-table__table {
    max-width: 970px;
    width: 100%;

    th,
    td {
      padding-bottom: 13.5px;
      padding-top: 13.5px;
    }

    tr {
      &:first-child {
        border-top: 1px solid #dddddd;
      }

      td:first-child {
        font-weight: 900;
        max-width: 132px;
        width: 132px;
      }
    }

    td {
      border-bottom: 1px solid #dddddd;
      color: #2c3e50;
      font-family: $font-family-base;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.woocommerce table.shop_attributes tr:nth-child(even) th {
  background: transparent;
}

.woocommerce table.shop_attributes {
  max-width: 970px;
  width: 100%;

  th,
  td {
    background: transparent !important;
    padding-bottom: 13.5px;
    padding-top: 13.5px;
  }

  tr {
    &:first-child {
      border-top: 1px solid #dddddd;
    }

    th:first-child {
      font-weight: 900;
      max-width: 132px;
      width: 132px;
    }
  }

  td,
  th {
    border-bottom: 1px solid #dddddd;
    color: #2c3e50;
    font-family: $font-family-base;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
  }
}

.woocommerce-product-attributes {
  margin-top: 3em !important;

  th p,
  td p {
    font-family: $font-family-base;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 300 !important;
    line-height: 1.5 !important;
  }
}

.woocommerce-Tabs-panel--additional_information .section-table--primary {
  margin-top: 3em !important;

  .section__inner {
    margin-left: unset;
  }
}
