.section-post-header {
  @extend %margins-horizontal;
  @extend %margins-vertical--margin;

  margin-bottom: 35px;

  .section__inner {
    @extend %inset-width;

    text-align: left;
  }
}

.section-post-header__date {
  color: $color-gray-5;
  margin-top: 0.5em;
  text-transform: capitalize;
}
