.section-definition-list {
  @extend %margins-horizontal;

  margin-bottom: 20px;
  margin-top: 20px;

  .section__inner {
    @extend %inset-width;
  }
}

.section-definition-list__header {
  margin-bottom: $margin-top;
}

.section-definition-list__item {
  display: flex;

  &:not(:first-child) {
    margin-top: $margin-top;
  }
}

.section-definition-list__item-image {
  flex: 0 0 auto;
  margin-right: 25px;
  max-width: 100px;

  @include mq($from: small) {
    max-width: 200px;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}
