.section-post-header {
  @extend %margins-horizontal;

  margin-bottom: 60px;

  @include mq($from: medium) {
    margin-bottom: 35px;
  }

  .section__inner {
    @extend %maximum-width;

    text-align: left;

    @include mq($from: medium) {
      padding-left: 160px;
      padding-right: 160px;
    }
  }
}
