.section-contact-form {
  @extend %margins-horizontal;

  margin-bottom: 60px;

  @include mq($from: medium) {
    margin-bottom: 147px;
  }

  .text-input,
  .wpcf7 input[type="email"],
  .wpcf7 input[type="text"],
  .textarea-input,
  .wpcf7 textarea {
    width: 100%;
  }

  .wpcf7 input[type="submit"] {
    @extend .button;
    @extend .button--primary;

    margin-left: 16px;
    margin-top: 70px;
    max-width: 260px;
    width: 80%;

    @include mq($from: medium) {
      margin-left: initial;
      margin-top: 86px;
      width: 100%;
    }
  }
}
