.section-rich-text {
  @extend %margins-horizontal;
  @extend %margins-vertical--margin;

  margin-top: 81px;

  @include mq($from: medium) {
    margin-top: 228px;
  }

  .section__inner {
    @extend %maximum-width;
  }

  figcaption {
    color: #5a5a5b;
    font-size: 14px;
    font-weight: 500;
  }
}
