$site-header-breakpoint: 800px;

.site-header {
  @extend %margins-horizontal;

  background-color: $color-background;

  @include mq($until: $site-header-breakpoint) {
    height: 56px;
    left: 0;
    padding: 0 32px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  @include mq($from: $site-header-breakpoint) {
    height: 64px;
    padding: 0 32px;
  }
}

.site-header__inner {
  @extend %maximum-width;

  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.site-header__logo {
  a {
    display: block;
  }

  img {
    display: block;
    height: 24px;
    width: auto;
  }
}
