$site-header-breakpoint: 800px;

.site-header {
  @extend %margins-horizontal;

  background-color: $color-background;
  height: 56px;
  left: 0;
  position: sticky;
  top: 0;
  z-index: 1000;

  @include mq($from: $site-header-breakpoint) {
    padding-left: 32px;
  }
}

.site-header__inner {
  @extend %maximum-width;

  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.site-header__logo {
  a {
    display: block;
  }

  img {
    display: block;
    height: 25px;
    width: auto;

    @include mq($from: $site-header-breakpoint) {
      height: 30px;
    }
  }
}

.site-header__controls {
  align-items: center;
  display: flex;
}

.site-header__control {
  margin-left: 16px;
}

.site-header__control.site-cart {
  display: none;
}

@include mq($from: $site-header-breakpoint) {
  .site-header__control {
    &:first-child {
      margin-right: $margin-left-medium;
    }
  }
}
