$site-header-breakpoint: 800px;

.site-footer {
  @extend %margins-horizontal;
  @extend %margins-vertical;

  background-color: $color-gray-2;

  @include mq($until: $site-header-breakpoint) {
    text-align: center;
  }

  #mc_embed_signup {
    margin-top: $margin-top * 2;
  }
}

.site-footer__inner {
  @extend %maximum-width;

  @include mq($from: $site-header-breakpoint) {
    display: flex;
    justify-content: space-between;
  }
}

.site-footer__left,
.site-footer__right {
  @include mq($until: $site-header-breakpoint) {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.site-footer__logo {
  img {
    display: block;
    height: 32px;
    width: auto;
  }

  @include mq($until: $site-header-breakpoint) {
    margin-left: auto;
    margin-right: auto;
  }
}

.site-footer__social {
  display: flex;
  justify-content: center;
  margin-top: $margin-top;

  @include mq($from: $site-header-breakpoint) {
    justify-content: flex-start;
  }

  .icon-button:not(:first-child) {
    margin-left: 24px;
  }

  .icon-button img {
    display: block;
    height: 24px;
    object-fit: contain;
    width: 24px;
  }
}

// .site-footer__menu-column {
//   .wpb_content_element p {
//     margin-bottom: 8px;
//     margin-top: 8px;
//   }

//   .wpb_content_element a {
//     color: inherit;
//     font-weight: normal;
//   }
// }

.site-footer__right {
  @include mq($from: $site-header-breakpoint) {
    display: flex;
    justify-content: space-between;
  }
}

.site-footer__right-title {
  font-weight: 600;
}

.site-footer__right-column {
  @include mq($until: $site-header-breakpoint) {
    margin-top: $margin-top * 2;
  }

  &:not(:first-child) {
    @include mq($from: $site-header-breakpoint) {
      margin-left: $margin-left-medium;
    }
  }

  .menu-item {
    margin-top: 8px;

    a {
      @extend .body;

      font-weight: normal;
    }
  }
}
