$site-header-breakpoint: 1080px;

.site-header {
  @extend %margins-horizontal;

  background-color: $color-background;
  height: 56px;
  left: 0;
  position: sticky;
  top: 0;
  z-index: 1000;

  @include mq($from: $site-header-breakpoint) {
    padding-left: 32px;
  }
}

.site-header__inner {
  @extend %maximum-width;

  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.site-header__logo {
  a {
    display: block;
  }

  img {
    display: block;
    height: 25px;
    width: auto;

    @include mq($from: $site-header-breakpoint) {
      height: 30px;
    }
  }
}

.site-header__controls {
  align-items: center;
  display: flex;
}

.site-header__control {
  margin-left: 11px;

  @include mq($from: 1200px) {
    margin-left: 28px;
  }
}

@include mq($from: $site-header-breakpoint) {
  .site-header__control {
    &:first-child {
      margin-right: $margin-left-medium;
    }
  }
}

.action-toggle-language {
  img {
    height: 15px;
    width: 15px;
  }
}

.site-language-switcher {
  margin-left: -40px;
  margin-right: -40px;
  margin-bottom: 28px;

  @include mq($from: $site-header-breakpoint) {
    display: none;
  }
}

.site-language-switcher-menu {
  display: none;

  li {
    font-family: $font-family-avenir;
    font-size: 14px;
    font-weight: 900;
    color: #2c3e50;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .site-language-switcher-menu-open & {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 13px 0px;
    background: $color-gray-2;
  }
}

.action-toggle-language-switcher {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  padding: 13px 16px;
  border: solid 2px $color-gray-2;

  p {
    font-family: $font-family-avenir;
    font-size: 14px;
    font-weight: 900;
    color: #2c3e50;
    text-transform: uppercase;
  }

  .icon-globe {
    width: 16px;
    height: 16px;
  }
}


.site-language-switcher__arrow-up {
  display: none;
  width: 9px;
  height: 4px;

  .site-language-switcher-menu-open & {
    display: inline-block;
  }
}

.site-language-switcher__arrow-down {
  display: inline-block;
  width: 9px;
  height: 4px;

  .site-language-switcher-menu-open & {
    display: none;
  }
}
