.site-footer {
  @extend %margins-horizontal;
  @extend %margins-vertical;

  background-color: $color-gray-2;

  @include mq($until: medium) {
    text-align: center;
  }
}

.site-footer__inner {
  @extend %maximum-width;

  @include mq($from: medium) {
    display: flex;
    justify-content: space-between;
  }
}

.site-footer__logo {
  img {
    display: block;
    height: 32px;
    width: auto;
  }

  @include mq($until: medium) {
    margin-left: auto;
    margin-right: auto;
  }
}

.site-footer__social {
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }

  .icon-button:not(:first-child) {
    margin-left: 24px;
  }

  .icon-button img {
    display: block;
    height: 24px;
    object-fit: contain;
    width: 24px;
  }
}

// .site-footer__menu-column {
//   .wpb_content_element p {
//     margin-bottom: 8px;
//     margin-top: 8px;
//   }

//   .wpb_content_element a {
//     color: inherit;
//     font-weight: normal;
//   }
// }

.site-footer__right {
  @include mq($from: medium) {
    display: flex;
    justify-content: space-between;
  }
}

.site-footer__right-title {
  font-weight: 600;
}

.site-footer__right-column .menu-item {
  margin-top: 8px;

  a {
    @extend .body;

    font-weight: normal;
  }
}
