$site-header-breakpoint: 800px;

.site-footer {
  @extend %margins-horizontal;

  background-color: $color-gray-2;
  padding-bottom: 40px;
  padding-top: 40px;

  @include mq($until: $site-header-breakpoint) {
    text-align: center;
  }
}

.site-footer__newsletter {
  align-items: center;
  border-bottom: 1px solid $color-gray-3;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.site-footer__inner {
  @extend %maximum-width;

  @include mq($from: $site-header-breakpoint) {
    display: flex;
    justify-content: space-between;
  }
}

.site-footer__left,
.site-footer__right {
  @include mq($until: $site-header-breakpoint) {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.site-footer__logo {
  img {
    display: block;
    height: 24px;
    width: auto;
  }

  @include mq($until: $site-header-breakpoint) {
    margin-left: auto;
    margin-right: auto;
  }
}

.site-footer__social {
  display: flex;
  flex-direction: column;

  .icon-button:not(:first-child) {
    margin-left: 24px;
  }

  .icon-button img {
    display: block;
    height: 24px;
    object-fit: contain;
    width: 24px;
  }

  .site-footer__social-heading {
    font-weight: bold;
  }

  .site-footer__social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;

    @include mq($from: $site-header-breakpoint) {
      justify-content: flex-start;
    }
  }

  .site-footer__download-app {
    align-items: center;
    display: flex;
    margin-top: 20px;
  }

  .app-icon:not(:first-child) {
    margin-left: 24px;
  }

  .app-icon img {
    display: block;
    height: auto;
    object-fit: contain;
    width: 130px;
  }
}

// .site-footer__menu-column {
//   .wpb_content_element p {
//     margin-bottom: 8px;
//     margin-top: 8px;
//   }

//   .wpb_content_element a {
//     color: inherit;
//     font-weight: normal;
//   }
// }

.site-footer__right {
  @include mq($from: $site-header-breakpoint) {
    display: flex;
    justify-content: space-between;
  }
}

.site-footer__right-title {
  font-weight: 600;
}

.site-footer__right-column {
  @include mq($until: $site-header-breakpoint) {
    margin-top: $margin-top * 2;
  }

  &:not(:first-child) {
    @include mq($from: $site-header-breakpoint) {
      margin-left: $margin-left-medium;
    }
  }

  .menu-item {
    margin-top: 8px;

    a {
      @extend .body;

      font-weight: normal;
    }
  }
}
