.wpcf7-form {
  p {
    margin-top: 20px;

    &:first-of-type {
      margin-top: 0px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
    text-align: center;
  }

  h1 {
    @extend .heading-1;
  }

  h2 {
    @extend .heading-2;
  }

  h3 {
    @extend .heading-3;

    margin-top: 80px;
  }

  h4 {
    @extend .heading-4;
  }

  h5 {
    @extend .heading-5;
  }

  h6 {
    @extend .heading-6;
  }
}

.section-contact-form__required {
  font-size: 13px;
  margin: 10px auto 0px;
  margin-top: 10px;
  max-width: 620px;
  text-align: center;

  @include mq($from: medium) {
    margin-top: initial;
    text-align: right;
  }
}

div.wpcf7 {
  margin: 0 auto;
  max-width: 620px;

  @include mq($until: medium) {
    margin-top: 40px;
  }
}

.wpcf7-form-control-wrap {
  display: block;
  position: relative;
}

.wpcf7 input[type="email"],
.wpcf7 input[type="text"] {
  @extend .text-input;

  margin-bottom: 0;

  &.wpcf7-not-valid {
    border-bottom-color: $color-tertiary-red;
  }
}

.wpcf7 textarea {
  @extend .text-input;

  margin-bottom: 0;

  &::placeholder {
    color: $color-gray-5;
  }
}

.your-message {
  padding-top: 12px;
}

.wpcf7-checkbox {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span.wpcf7-list-item {
  display: block;
  margin: 16px auto 0;
  width: 100%;

  &:first-child {
    margin-top: 0;
  }

  input {
    margin-right: 6px;
  }
}

.wpcf7-list-item-label {
  @extend .body;
}

.wpcf7 input[type="submit"] {
  display: block;
  height: auto;
  max-width: 260px;
}

.section-contact-form {
  input[type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    left: -1000px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    z-index: -1000;
  }

  input[type="checkbox"] + .wpcf7-list-item-label {
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    padding-left: 34px;
    vertical-align: middle;
  }

  input[type="checkbox"]:checked + .wpcf7-list-item-label {
    background-position: 0 -20px;
  }

  .wpcf7-list-item-label {
    background-image: url("assets/icons/css-checkbox.png");
    -webkit-touch-callout: none;
    user-select: none;
  }
}

span.wpcf7-not-valid-tip {
  color: $color-tertiary-red;
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-top: 6px;
}

div.wpcf7-validation-errors {
  display: none !important;
}

.wpcf7-form-control-wrap.other-role {
  padding-left: 12px;
}

.wpcf7 .wpcf7-form-control-wrap.other-role input[type="text"] {
  border: 1px solid $color-gray-3;
  display: block;
  margin: 16px auto 0;
  max-width: 200px;
  padding: 4px;
  width: 100%;

  &:focus {
    border: 1px solid $color-secondary-blue;
  }

  &::placeholder {
    color: $color-gray-5;
  }
}

div.wpcf7-mail-sent-ok.wpcf7-response-output {
  background-color: $color-tertary-green;
  background-image: url("assets/images/icon-check.svg");
  background-position: 10px 6px;
  background-repeat: no-repeat;
  background-size: auto 16px;
  border: 2px solid $color-tertary-green;
  color: #ffffff;
  font-size: 18px;
  padding-left: 42px;
}

.wpcf7-form-control-wrap.role {
  margin-top: 50px;

  @include mq($from: medium) {
    margin-top: 60px;
  }
}

.wpcf7-form-control-wrap.how-can-we-help {
  margin-top: 30px;

  @include mq($from: medium) {
    margin-top: 40px;
  }
}
