div.wpcf7 {
  margin: 0 auto;
  max-width: 620px;
}

div.wpcf7-mail-sent-ok.wpcf7-response-output {
  background-color: $color-tertary-green;
  background-image: url("assets/images/icon-check.svg");
  background-position: 10px 6px;
  background-repeat: no-repeat;
  background-size: auto 16px;
  border: 2px solid $color-tertary-green;
  color: #ffffff;
  font-size: 18px;
  padding-left: 42px;
}
