.fakeMobile .hgr_identity,
.isMobile .hgr_identity {
  padding-top: 12px !important;

  img {
    height: 25px !important;
    width: auto !important;
  }
}

.hgr_identity {
  position: relative;
  z-index: 9999;
}

.vc_pageable-slide-wrapper {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
