#mc_embed_signup label {
  display: block;
  font-weight: 500;
  margin-bottom: 1em;
}

#mc_embed_signup_scroll {
  display: flex;
  flex-direction: column;

  @include mq($from: medium) {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
}

.mc-field-group input[type="email"] {
  @extend .textarea-input;

  background-color: #ffffff;
  color: #7e8083;
  font-size: 13px;
  margin-bottom: 11px;
  width: 100%;

  @include mq($from: medium) {
    border-bottom-right-radius: 0;
    border-right: none;
    border-top-right-radius: 0;
    margin-bottom: 0;
    min-width: 200px;
  }

  @include mq($from: large) {
    min-width: 240px;
  }
}

#mc-embedded-subscribe {
  @extend .button;
  @extend .button--primary;

  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  @include mq($from: large) {
    min-width: 160px;
  }
}
