.section-pre-footer {
  @extend %margins-horizontal;

  .section__inner {
    @extend %margins-vertical;

    border-top: 1px solid $color-gray-3;
    display: flex;
    flex-direction: column-reverse;

    @include mq($from: medium) {
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}

.section-pre-footer__text {
  margin-top: 32px;

  @include mq($from: medium) {
    margin-top: unset;
    max-width: 420px;
    width: calc(50% - 28px);
  }
}

.section-pre-footer__links {
  margin-top: 2.5em;
}

.section-pre-footer__image {
  margin-top: 68px;

  @include mq($from: medium) {
    margin-top: 50px;
    width: calc(50% - 28px);
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}
