.rich-text {
  > *:not(:first-child) {
    margin-top: 1em;
  }

  a:not(.button) {
    color: $color-primary-blue;

    &:hover,
    &:focus {
      color: inherit;
    }
  }

  p {
    @extend .body;
  }

  ol,
  ul {
    list-style-position: outside;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }

  h1,
  .heading-1 {
    @extend .heading-1;
  }

  h2,
  .heading-2 {
    @extend .heading-2;
  }

  h3,
  .heading-3 {
    @extend .heading-3;
  }

  h4,
  .heading-4 {
    @extend .heading-4;
  }

  h5,
  .heading-5 {
    @extend .heading-5;
  }

  h6,
  .heading-6 {
    @extend .heading-6;
  }

  hr {
    background-color: $color-gray-4;
    border: none;
    display: block;
    height: 1px;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 100%;
  }

  .list-style-none {
    &::before {
      width: 0px;
    }
  }

  ol,
  ul {
    @extend .list;
  }

  ol li {
    @extend .list-item--ordered;
  }

  ul li {
    @extend .list-item;
  }

  blockquote {
    @extend .heading-5;

    border-left: 5px solid #1b80c9;
    margin-left: 0;
    padding: 4px 33px 4px;

    @include mq($from: medium) {
      margin-left: 20px;
    }

    > * {
      font-size: 20px;
      font-weight: 500;

      &:not(:first-child) {
        color: $color-gray-5;
        font-size: 16px;
        font-weight: 400;
        margin-top: 11px;
      }
    }
  }

  video,
  iframe {
    max-width: 100%;
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
  }

  figure {
    max-width: 100%;
  }

  figcaption {
    @extend .body;
    @extend .body--small;

    color: #5a5a5b;
    font-size: 14px;
    font-weight: 500;
    margin-top: 1em;
  }
}

.rich-text--small {
  p {
    @extend .body;
    @extend .body--small;
  }
}

.rich-text--large {
  p {
    @extend .body;

    font-size: 18px;
    letter-spacing: 0.08px;
    line-height: normal;

    @include mq($from: medium) {
      font-size: 24px;
      letter-spacing: 0.1px;
    }
  }
}
