.search-form__input-container {
  position: relative;
  width: 100%;
  z-index: 0;
}

.search-form input {
  @extend .textarea-input;

  background-color: #ffffff;
  border: solid 1px #d8dce0;
  border-radius: 1px;
  padding-right: 40px;
  width: 100%;
}

.search-form__submit {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
