.site-footer {
  font-family: $font-family-primary;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.site-footer__logo {
  height: 30px !important;
  margin-left: auto;
  margin-right: auto;
  width: 141px !important;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.site-footer__social {
  margin-top: 24px;

  .wpb_wrapper {
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }

  .vc_icon_element {
    margin-left: 24px;

    &:first-child {
      margin-left: 0;
    }
  }

  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    border: none;
    height: 24px;
    text-align: left;
    width: 24px;
  }
}

.site-footer__menu-column {
  .wpb_content_element p {
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .wpb_content_element a {
    color: inherit;
    font-weight: normal;
  }
}
