$site-header-breakpoint: 1080px;

.site-navigation-toggle {
  img {
    display: block;
    height: 20px;
    width: auto;
  }

  img:nth-child(1) {
    display: block;

    .site-navigation-open & {
      display: none;
    }
  }

  img:nth-child(2) {
    display: none;

    .site-navigation-open & {
      display: block;
    }
  }
}

.site-navigation {
  .menu {
    @include mq($from: $site-header-breakpoint) {
      display: flex;
    }
  }

 .menu-header-container .menu .menu-item,
 .menu-header-spanish-container .menu .menu-item {
    @extend .body;

    font-size: 14px;
    text-transform: uppercase;

    @include mq($until: $site-header-breakpoint) {
      &:not(:first-child) {
        margin-top: 28px;
      }
    }
  }

  .menu-header-container .sub-menu .menu-item,
  .menu-header-spanish-container .sub-menu .menu-item{
    font-weight: 500;
    text-transform: uppercase;
    @include mq($until: $site-header-breakpoint) {
      text-transform: capitalize;
    }
  }

  .menu .menu-item {
    @include mq($from: $site-header-breakpoint) {
      display: flex;
      margin-right: 29px;

      &:not(:first-child) {
        margin-left: 1em;
      }
    }

    &:last-child {
      margin-right: 0px;
    }

    &:not(.current-menu-item) a:hover,
    &:not(.current-menu-item) a:focus {
      text-shadow: 0.1px 0.1px 0 currentColor, 0.4px 0.1px 0 currentColor,
        0.1px 0.1px 0 currentColor, 0.3px 0.3px 0 currentColor;
    }

    a {
      @include mq($from: $site-header-breakpoint) {
        font-size: 14px;
        font-weight: normal;
        font-weight: 500;
        letter-spacing: 0.08px;
      }
    }
  }

  @include mq($until: $site-header-breakpoint) {
    .menu-item-has-children {

      > a::after{
        content:  url("assets/icons/icon-arrow-down.svg");
        padding-left: 9px;
      }
      .sub-menu {
        background: #f4f5f7;
        display: none;
        margin-top: 15px;
        padding-bottom: 20px;
        padding-top: 20px;

        li{
          padding-left: 9px;
        }
      }

      &--open, .current_page_parent{
        .sub-menu {
          display: block;
        }

        > a::after{
          content:  url("assets/icons/icon-arrow-up.svg");
        }
      }

      .menu-item a {
        font-weight: 500;
      }
      .current-menu-item a {
        font-weight: bold !important;
      }
    }
  }

  @include mq($from: $site-header-breakpoint) {
    .menu-item-has-children {
      position: relative;

      &:hover .sub-menu,
      &:focus .sub-menu {
        opacity: 1;
        visibility: visible;
      }

      .sub-menu {
        background-color: #ffffff;
        border: 1px solid #d8dce0;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(87, 85, 85, 0.5);
        opacity: 0;
        padding: 10px 15px;
        position: absolute;
        right: 0;
        top: 21px;
        transition: opacity $duration-fast, visibility 0s $duration-fast;
        visibility: hidden;
        width: 160px;

        @media screen and (prefers-reduced-motion: reduce) {
          transition: none;
        }
      }

      .menu-item {
        display: inline-block;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      .menu-item a {
        border-bottom: none;
        font-weight: 500 !important;
        padding: 7px 0;
      }

      .current-menu-item a {
        font-weight: bold !important;
      }
    }
  }

  .nav-button {
    border-top: 1px solid $color-gray-3;
    margin-top: 30.5px;
    padding-top: 24px;
    margin-left: 34px;
    margin-right: 34px;
    display: block;

    @include mq($from: $site-header-breakpoint) {
      display: none;
    }

    a {
      @extend .button;
      @extend .button--secondary;

      width: 100%;

      &:first-child {
        margin-bottom: 24px;
      }
    }
  }
}

.site-navigation {
  padding-left: 0;
  padding-right: 0;
}

@include mq($until: $site-header-breakpoint) {
  .site-navigation {
    background-color: #ffffff;
    height: 100vh;
    left: 0;
    opacity: 0;
    padding-top: 56px;
    position: absolute;
    top: 0;
    transition: opacity $duration-fast, visibility 0s $duration-fast;
    visibility: hidden;
    width: 100%;
    z-index: -1;

    @media screen and (prefers-reduced-motion: reduce) {
      transition: none;
    }

    .site-navigation-open & {
      opacity: 1;
      transition: opacity $duration-fast, visibility 0s;
      visibility: visible;

      @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }
    .menu-header-container > .menu li > a,
    .menu-header-spanish-container > .menu li > a {
      margin-left: 34px;
      margin-right: 34px;
    }
  }

  .site-navigation-open .site-search,
  .site-navigation-open .site-cart {
    display: none;
  }
}

@include mq($from: $site-header-breakpoint) {
  .site-navigation-toggle,
  .site-navigation-close {
    display: none;
  }

  .site-navigation .current-menu-item a {
    border-bottom: 1px solid currentColor;
  }
}

/*eslint-disable*/
.menu-header-container,
.menu-header-spanish-container {
  .current_page_item a {
    font-weight: bold !important;
  }
}

/*eslint-enable*/
