.wpb_text_column {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  table,
  li,
  ol,
  ul {
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  ol,
  ul {
    list-style-position: outside;
    padding-left: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a:hover {
      text-decoration: underline;
    }
  }

  a {
    @extend .link;
    @extend .link--small;
  }
}

em {
  font-family: inherit;
}
