%margins-horizontal {
  padding-left: $margin-left;
  padding-right: $margin-right;

  /* stylelint-disable */
  @supports (padding: unquote("max(0px)")) {
    padding-left: m#{a}x(#{$margin-left}, env(safe-area-inset-left));
    padding-right: m#{a}x(#{$margin-right}, env(safe-area-inset-right));
  }
  /* stylelint-enable */

  @include mq($from: medium) {
    padding-left: $margin-left-medium;
    padding-right: $margin-right-medium;
  }

  @include mq($from: large) {
    padding-left: $margin-left-large;
    padding-right: $margin-right-large;
  }
}

%margins-vertical {
  padding-bottom: $margin-bottom;
  padding-top: $margin-top;

  @include mq($from: medium) {
    padding-bottom: $margin-bottom-medium;
    padding-top: $margin-top-medium;
  }

  @include mq($from: large) {
    padding-bottom: $margin-bottom-large;
    padding-top: $margin-top-large;
  }
}

%margins-vertical--margin {
  margin-bottom: $margin-bottom;
  margin-top: $margin-top;

  @include mq($from: medium) {
    margin-bottom: $margin-bottom-medium;
    margin-top: $margin-top-medium;
  }

  @include mq($from: large) {
    margin-bottom: $margin-bottom-large;
    margin-top: $margin-top-large;
  }
}
