$extra-small: 320px;
$small: 480px;
$medium: 800px;
$medium-large: 1024px;
$large: 1280px;
$extra-large: 1440px;

@mixin viewport-extra-small {
  @media (min-width: #{$extra-small}) {
    @content;
  }
}

@mixin viewport-small {
  @media (min-width: #{$small}) {
    @content;
  }
}

@mixin viewport-medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin viewport-medium-large {
  @media (min-width: #{$medium-large}) {
    @content;
  }
}
@mixin viewport-large {
  @media (min-width: #{$large}) {
    @content;
  }
}
@mixin viewport-extra-large {
  @media (min-width: #{$extra-large}) {
    @content;
  }
}
