.page-template-support {
  .section-cta-block {
    background-color: #1b80c9;
    margin-top: 20px;

    @include mq($from: medium) {
      margin-top: 60px;
    }
  }

  .section-support-callout {
    @extend %margins-horizontal;

    margin-bottom: 40px;

    @include mq($from: medium) {
      margin-bottom: 126px;
    }

    .section__inner {
      @extend %maximum-width;
    }
  }
}
