@use "../abstracts/mixins/mq-conf" as mq;
@use "../layout-grid/margins";
@use "../layout-grid/maximum-width";

.page-template-support {
  .section-about-header {
    .section__inner {
      flex-direction: row;
      text-align: center;
    }
  }

  .section-about-header__body {
    max-width: 280px;

    @include mq.viewport-medium {
      max-width: 700px;
    }
  }

  .section-about-header__heading {
    position: inherit;
    top: inherit;
  }

  .section-about-header__text {
    position: relative;
    top: -0.5em;

    @include mq.viewport-medium {
      top: -1em;
    }
  }

  .section-cta-block {
    background-color: #1b80c9;
    margin-top: 20px;

    @include mq.viewport-medium {
      margin-top: 60px;
    }
  }

  .section-support-callout {
    @extend %margins-horizontal;

    margin-bottom: 40px;

    @include mq.viewport-medium {
      margin-bottom: 126px;
    }

    .section__inner {
      @extend %maximum-width;
    }
  }
}
