@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=8df6fc3c-7d0e-4a39-83ee-4555dac9e611&fontids=1475510,1475516,1475534,1475546");

@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/avenir/066fbbc6-dd8d-48ca-89fb-58034872ab60.eot?#iefix");
  src: url("assets/fonts/avenir/066fbbc6-dd8d-48ca-89fb-58034872ab60.eot?#iefix")
      format("eot"),
    url("assets/fonts/avenir/9f6dfbe4-ae47-4f8e-b887-c99113fa09b1.woff2")
      format("woff2"),
    url("assets/fonts/avenir/a9d360f4-5161-43ab-8475-b46d159844f8.woff")
      format("woff"),
    url("assets/fonts/avenir/ddda1572-4388-4d33-98d2-8f6e68113b5b.ttf")
      format("truetype");
}

@font-face {
  font-family: Avenir;
  font-style: italic;
  font-weight: 400;
  src: url("assets/fonts/avenir/1caeee47-3977-41ac-9b59-5a9339ac5f0d.eot?#iefix");
  src: url("assets/fonts/avenir/1caeee47-3977-41ac-9b59-5a9339ac5f0d.eot?#iefix")
      format("eot"),
    url("assets/fonts/avenir/07d5871f-58ed-4968-8aed-13cc42516e68.woff2")
      format("woff2"),
    url("assets/fonts/avenir/e35c2a41-cfa9-49c4-bcd7-4d8d5523b3cc.woff")
      format("woff"),
    url("assets/fonts/avenir/790df82d-9aae-4e1b-af10-d0ddb48c1652.ttf")
      format("truetype");
}

@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/avenir/3cbb38b5-39f7-4266-aef2-c1d76a430661.eot?#iefix");
  src: url("assets/fonts/avenir/3cbb38b5-39f7-4266-aef2-c1d76a430661.eot?#iefix")
      format("eot"),
    url("assets/fonts/avenir/55b3246a-2a53-4f75-b0da-6dffde8260ad.woff2")
      format("woff2"),
    url("assets/fonts/avenir/0614ebff-0ec3-4726-98b3-379062bb14e7.woff")
      format("woff"),
    url("assets/fonts/avenir/7ce0560a-1399-4d97-bca7-75fc1ad7ca07.ttf")
      format("truetype");
}

@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/avenir/4a5082cd-dbf3-4cc4-903d-df495de21506.eot?#iefix");
  src: url("assets/fonts/avenir/4a5082cd-dbf3-4cc4-903d-df495de21506.eot?#iefix")
      format("eot"),
    url("assets/fonts/avenir/21d611aa-91cd-462c-9896-b71b85d3cca9.woff2")
      format("woff2"),
    url("assets/fonts/avenir/9594894d-c00f-4259-842f-d7991a3af9ee.woff")
      format("woff"),
    url("assets/fonts/avenir/e5f40243-1250-46a5-b1be-9cdafabc981b.ttf")
      format("truetype");
}
